<div class="styleHeader">
    <a href="/">
        <img class="logo" src="../images/logo/dream-princess-logo.png" alt="Dream Princess Logo" />
        <img class="logoSmall" src="../images/logo/dream-princess-logo.png" alt="Dream Princess Logo" /></a>
</div>