<!--
  <nav class="navbar navbar-expand-lg" style="min-width: 960px;">
      <a class="navbar-brand" href="http://localhost:3000/">DreamPrincess</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <% if (login==false)
      {%>=
      <button class="btn btn-link buttonik" type="submit" data-toggle="modal" data-target="#exampleModal" style="text-decoration: none;">
          <a style="text-decoration: none;">ZALOGUJ</a>
      </button>
      <%} else
      {%>=
      <button class="btn btn-link buttonik" type="submit" style="color:#fdbdcb; text-decoration: none;">
          <a href="/logout" style="text-decoration: none;">WYLOGUJ SIĘ</a>
      </button>
      <%}%>
  </nav>
-->

<div class="styleHeader">
  <a href="/">
    <img
      class="logo"
      src="../../images/logo/dream-princess-logo.png"
      alt="Dream Princess Logo"/>
    <img
      class="logoSmall"
      src="../../images/logo/dream-princess-logo.png"
      alt="Dream Princess Logo"
  /></a>
  <div class="menuNavbar">
    <% if (login==false) {%>
    <button
      class="btn btn-primary btn-lg btn-color"
      type="submit"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      <a>ZALOGUJ</a>
    </button>
    <%} else {%>
    <button class="btn btn-primary btn-lg  btn-color" type="submit">
      <a href="/logout">WYLOGUJ SIĘ</a>
    </button>
    <%}%>
  </div>
</div>

<div
  class="modal fade modal-top"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  style="padding:0; margin:auto"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form
        class="col-md-10"
        style="padding:0; margin:auto"
        method="post"
        action="/create-princess/step-1"
      >
        <div class="form-group" style="margin-top:30px">
          <input
            class="form-control"
            type="text"
            placeholder="E-MAIL"
            name="logemail"
          />
        </div>
        <div class="form-group" style="margin-bottom:30px">
          <input
            class="form-control"
            type="password"
            placeholder="HASŁO"
            name="logpassword"
          />
        </div>
        <input
          class="btn btn-primary"
          value="ZALOGUJ SIĘ"
          type="submit"
          style="width:100%; margin-bottom:30px;"
        />
      </form>
    </div>
  </div>
</div>
