<div class="nav-game">
  <div>
    <div class="wrapper btn-color">
      <div class="wrapper-center">
        <button
          class="btn btn-upper btn-white-upper"
          type="submit"
          href="dreamprincess/princess/user"
        >
          <a href="/homepage"> PRINCESS</a>
        </button>
        <button
          class="btn btn-upper btn-white-upper"
          type="submit"
          href="dreamprincess/userprofile"
        >
          <a href="/homepage/user-profile">KONTO</a>
        </button>
        <% if (user.accountType=="admin") {%>
        <button
          class="btn btn-upper-admin"
          type="submit"
          href="dreamprincess/userprofile"
        >
          <a href="/admin">ZAPLECZE</a>
        </button>
        <%}%>
      </div>
    </div>
  </div>
</div>
