<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>ZAPLECZE: Garderoba | DreamPrincess</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/styleRanking.css" />
  </head>

  <body>
    <% include ../partials/nav %> <% include ../partials/navPrincess %> <% var
    n=1; %>
    <div class="wapperStyled">
      <div class="wrapperProfile">
        <button class="btn btn-white" style="width:80px; padding: 10px">
          <a href="/admin">Powrót</a>
        </button>
        <h1>ZBIÓR UBRAŃ</h1>
        <hr />
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Nazwa</th>
              <th scope="col">Typ</th>
              <th scope="col">Kolor</th>
              <th scope="col" colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% clothes.forEach(function(clothes, i, arr){ -%>
            <tr>
              <%clothes %>
              <th scope="row" style="padding-top: 17px;"><%=n%></th>
              <td style="padding-top: 17px;"><%=clothes.name %></td>
              <td style="padding-top: 17px;"><%=clothes.type %></td>
              <td style="padding-top: 17px;"><%=clothes.color %></td>
              <td>
                <form
                  class="top-column"
                  method="POST"
                  action="/admin/see-clothe"
                >
                  <div class="form-group">
                    <input
                      class="form-control"
                      placeholder="id_clothe"
                      name="id_clothe"
                      value="<%= clothes._id %>"
                      type="hidden"
                      required
                      readonly
                    />
                  </div>
                  <button class="btn cute" type="submit">
                    <a style="font-size: 15px">&#9998;</a>
                  </button>
                </form>
              </td>
              <td>
                <form
                  class="top-column"
                  method="POST"
                  action="/admin/edit-clothe"
                >
                  <div class="form-group">
                    <input
                      class="form-control"
                      placeholder="id_clothe"
                      name="id_clothe"
                      value="<%= clothes._id %>"
                      type="hidden"
                      required
                      readonly
                    />
                  </div>
                  <button class="btn cute" type="submit">
                    <a style="font-size: 15px"> &#9881;</a>
                  </button>
                </form>
              </td>
              <td>
                <form
                  class="top-column"
                  method="POST"
                  action="/admin/delete-clothe"
                >
                  <div class="form-group">
                    <input
                      class="form-control"
                      placeholder="id_clothe"
                      name="id_clothe"
                      value="<%= clothes._id %>"
                      type="hidden"
                      required
                      readonly
                    />
                  </div>
                  <button class="btn cute" type="submit">
                    <a style="font-size: 15px"> &#x1f5d1;</a>
                  </button>
                </form>
              </td>
            </tr>
            <% n=n+1 %> <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <script language="javascript " src="js/bootstrap.min.js "></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js "
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
      crossorigin="anonymous "
    ></script>
  </body>
</html>
