<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>PRINCESS: <%=user.namePrincess%> | DreamPrincess</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/styleUserInfo.css" />
  </head>

  <body>
    <% include ../partials/nav %> <% include ../partials/navPrincess %>
    <div class="wapperStyled">
      <div class="wrapperProfile">
        <div class="Level">
          <div class="LevelWrapper">
            <% if (character.accountType=="admin") {%>
            <div class="LevelDivAdmin"><p class="Value">&#9882;</p></div>
            <%} else {%>
            <div class="LevelDiv"><p class="Value">&#9813;</p></div>
            <%}%>
            <div class="NameChar"><%=character.namePrincess%></div>
            <hr />
            <div class="NameCharInfo">
            <strong>Użytkownik:</strong>
            <br />
            <br />
            Nazwa:<br /> <%=character.username%>
            <br />
            <br />
            E-mail:<br /> <%=character.email%>
            <br />
            <br />
            Uprawnienia:<br /> <%=character.accountType%></div>
          </div>
        </div>
            <button class="btn btn-white btn-small user-button">
              <a href="/admin/user-list">WRÓĆ</a>
            </button>
        <div class="CharacterSection">
            <div class="DP-money">
                <div class="LevelDivMoney">
                  <p class="Value-money">&#9910;</p>
                  <br />
                  </div>
                  <div class="dpMoney"><%=character.dpMoney%> DP</div>
              </div>
              
            <div class="StatsWrapper">
                <div class="stats">
                  <div class="Titlestats">EMPIRIA</div>
                  <div class="QuestDivStyle">
                    <p class="ValueStyle"><%=character.style%></p>
                  </div>
                  <div class="QuestDivCreativity">
                    <p class="ValueCreativity"><%=character.creativity%></p>
                  </div>
                  <div class="QuestDivIntelligence">
                    <p class="ValueIntelligence"><%=character.Intelligence%></p>
                  </div>
                  <div class="QuestDivCondition">
                    <p class="ValueCondition"><%=character.Condition%></p>
                  </div>
                </div>
              </div>
          <!-- Socks -->
          <img
          width="100%"
          class="imgPrincess"
          src="../../../images/character/clothes/sock/<%=character.socks%>"
          style="z-index: 2"
        />
           <!-- Glasses -->
          <img
          width="100%"
          class="imgPrincess"
          src="../../../images/character/clothes/glasses/<%=character.glasses%>"
          style="z-index: 7"
        />
          <!-- Costume -->
          <img
            width="100%"
            class="imgPrincess"
            src="../../../images/character/clothes/head/<%=character.head%>"
            style="z-index: 6"
          />
          <!-- Head -->
          <img
            width="100%"
            class="imgPrincess"
            src="../../../images/character/clothes/middle/<%=character.middle%>"
            style="z-index: 4"
          />
          <!-- Middle -->
          <img
            width="100%"
            class="imgPrincess"
            src="../../../images/character/clothes/bottom/<%=character.bottom%>"
            style="z-index: 5"
          />
          <!-- Bottom -->
          <img
            width="100%"
            class="imgPrincess"
            src="../../../images/character/clothes/shoes/<%=character.shoes%>"
            style="z-index: 3"
          />
          <!-- Shoes -->
          <!-- Detail -->
          <img
            width="100%"
            class="imgPrincess"
            src="../../../images/character/hair/<%=character.hairColor%>.png"
            style="z-index: 2"
          />
          <!-- Hair -->
          <img
            width="100%"
            class="imgPrincess"
            src="../../../images/character/eyes/<%=character.eyeColor%>.gif"
            style="z-index: 1"
          />
          <!-- Eyes -->
          <img
            width="100%"
            class="imgPrincess"
            src="../../../images/character/skin/<%=character.skinColor%>.png"
            style="z-index: 0"
          />
          <!-- Skin -->
        </div>
    </div>
    <script language="javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>
