<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>ZAPLECZE: Edytuj <%=clothe.name %> | DreamPrincess</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/styleEditClothe.css" />
  </head>

  <body>
    <% include ../partials/nav %> <% include ../partials/navPrincess %> <% var
    n=1; %>
    <div class="wapperStyled">
      <div class="wrapperProfile">
        <button
          class="btn btn-white button-up"
          style="width:80px; padding: 10px"
        >
          <a href="http://localhost:3000/admin/clothes">Powrót</a>
        </button>
        <h1>EDYTUJ UBRANIE</h1>
        <hr />
        <div class="row margin-test">
            <div class="col-sm">
              <div class="left-costume">
                <img
                  src="../<%=clothe.imageUrlMin %>"
                  style="margin-left: 28px;width: 80%;height: auto"
                />
                <h6 style="margin-top: -10px; font-size: 11px;">
                  Nazwa: <%=clothe.name %><br />
                  Typ: <%=clothe.type %><br />
                  <hr />
                  Styl: +<%=clothe.style %> <br />
                  Kreatywność: +<%=clothe.creativity %> <br />
                  Inteligencja: +<%=clothe.Intelligence %> <br />
                  Kondycja: +<%=clothe.Condition %> <br />
                  <hr />
                  imageUrl: <br /><%=clothe.imageUrl %> <br />
                  imageUrlMin: <br /><%=clothe.imageUrlMin %> <br />
                </h6>
              </div>
            </div>
            <div class="col-sm"> 
              <form method="POST" action="/admin/save-edit-clothe">
                <div class="form-group">
                  <input
                  class="form-control"
                  placeholder="NAZWA"
                  name="name"
                  type="text"
                  value= "<%=clothe.name %>"
                  />
                </div>
              <br />
              <br />
              <h2>SZCZEGÓŁY:</h2>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="KOLOR"
                  name="color"
                  type="text"
                  value= "<%=clothe.color %>"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="URL-art NA POSTACI"
                  name="imageUrl"
                  type="text"
                  value= "<%=clothe.imageUrl %>"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="URL-art GARDEROBA"
                  name="imageUrlMin"
                  type="text"
                  value= "<%=clothe.imageUrlMin %>"
                />
              </div>
          <br />
          <h2>STATYSTYKI:</h2>
              <input
                class="form-control"
                placeholder="STYL"
                name="style"
                type="text"
                value= "<%=clothe.style %>"
              />
              <br />
              <input
                class="form-control"
                placeholder="KREATYWNOŚĆ"
                name="creativity"
                type="text"
                value= "<%=clothe.creativity %>"
              />
              <br />
              <input
                class="form-control"
                placeholder="INTELIGENCJA"
                name="Intelligence"
                type="text"
                value= "<%=clothe.Intelligence %>"
              />
              <br />
              <input
                class="form-control"
                placeholder="KONDYCJA"
                name="Condition"
                type="text"
                value= "<%=clothe.Condition %>"
              />
            </div>
          </div>
          <br />
          <br />
          <div class="form-group">
              <input
                class="form-control"
                placeholder="id_clothe"
                name="id_clothe"
                value="<%= clothe._id %>"
                type="hidden"
                required
                readonly
              />
            </div>
          <center>
            <div class="classdivbottom margin-bottom">
              <button class="btn btn-white" type="submit">
                <a>ZAAKTUALIZUJ</a>
              </button>
            </div>
          </center>
        </form>
      </div>
    </div>
    <script language="javascript " src="js/bootstrap.min.js "></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js "
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
      crossorigin="anonymous "
    ></script>
  </body>
</html>
