<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>ZAPLECZE: Edytuj <%=character.username %> | DreamPrincess</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/styleEditClothe.css" />
  </head>

  <body>
    <% include ../partials/nav %> <% include ../partials/navPrincess %> <% var
    n=1; %>
    <div class="wapperStyled">
      <div class="wrapperProfile">
        <button
          class="btn btn-white button-up"
          style="width:80px; padding: 10px"
        >
          <a href="http://localhost:3000/admin/user-list">Powrót</a>
        </button>
        <h1>EDYTUJ UŻYTKOWNIKA</h1>
        <hr />
        <div class="row margin-test">
            <div class="col-sm">
              <div class="left-costume">
                <h6 style="margin-top: 80px; font-size: 12px;">
                  <strong>DANE GRACZA:</strong> 
                  <br />
                  <br />
                  <strong>Nazwa:</strong><br /><%= character.username %>
                  <br /><br />
                  <strong>E-mail:</strong><br /><%= character.email %>
                  <br /><br />
                  <strong>Uprawnienia:</strong><br /><%= character.accountType %>
                  <br /> 
                  <br />
                  <br />
                  <br />
                  <br />
                  <strong>DANE PRINCESS:</strong>
                  <br />
                  <br />
                  <strong>Imię:</strong><br /><%= character.namePrincess %>
                  <br /><br />
                  <strong>Monety DP:</strong><br /><%= character.dpMoney %>
                </h6>
              </div>
            </div>
            <div class="col-sm"> 
              <form method="POST" action="/admin/edit-send-user">
                <h6>DANE GRACZA:</h6><br />
                <div class="form-group">
                  <input
                  class="form-control"
                  placeholder="NAZWA GRACZA"
                  name="username"
                  type="text"
                  value="<%= character.username %>"
                  />
                </div>
                <div class="form-group">
                <input
                  class="form-control"
                  placeholder="E-MAIL"
                  name="email"
                  type="email"
                  value="<%= character.email %>"
                />
              </div>
              <div class="form-group">
                  <input
                    class="form-control"
                    placeholder="UPRAWNIENIA"
                    name="accountType"
                    type="text"
                    value="<%= character.accountType %>"
                  />
                 <a style="font-size: 11px; color: #7231c3; margin-left:59px">Wyłącznie "basic" lub "admin"</a>
                </div>
              <br />
              <br />
              <h6>DANE PRINCESS:</h6><br />
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="IMIĘ PRINCESS"
                  name="namePrincess"
                  type="text"
                  value="<%= character.namePrincess %>"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="MONETY DP"
                  name="dpMoney"
                  type="text"
                  value="<%= character.dpMoney %>"
                />
              </div>
            </div>
          </div>
          <br />
          <br />
          <div class="form-group">
              <input
                class="form-control"
                placeholder="id_character"
                name="id_character"
                value="<%= character._id %>"
                type="hidden"
                required
                readonly
              />
            </div>
          <center>
            <div class="classdivbottom margin-bottom">
              <button class="btn btn-white" type="submit">
                <a>ZAAKTUALIZUJ</a>
              </button>
            </div>
          </center>
        </form>
      </div>
    </div>
    <script language="javascript " src="js/bootstrap.min.js "></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js "
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
      crossorigin="anonymous "
    ></script>
  </body>
</html>
