<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>ZAPLECZE: Nowe ubranie | DreamPrincess</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/styleAddClothe.css" />
  </head>

  <body>
    <% include ../partials/nav %> <% include ../partials/navPrincess %> <% var
    n=1; %>
    <div class="wapperStyled">
      <div class="wrapperProfile">
        <button
          class="btn btn-white button-up"
          style="width:80px; padding: 10px"
        >
          <a href="/admin">Powrót</a>
        </button>
        <h1>DODAJ UBRANIE</h1>
        <hr />
        <form method="POST" action="/admin/clothes-new">
          <div class="form-group">
            <input
              class="form-control"
              placeholder="NAZWA"
              name="name"
              type="text"
              required
            />
          </div>
          <br /><br />
          <div class="row margin-test">
            <div class="col-sm">
              <div class="form-group">
                <h2>TYP:</h2>
                <select class="form-control" name="type" required>
                  <option value="head" type="text">Akcesoria na głowę</option>
                  <option value="middle" type="text">Bluzki</option>
                  <option value="bottom" type="text">Spodnie/Spódniczki</option>
                  <option value="shoes" type="text">Buty</option>
                  <option value="sock" type="text">Skarpety</option>
                  <option value="glasses" type="text">Okulary</option>
                </select>
              </div>
            </div>
            <div class="col-sm">
              <h2>SZCZEGÓŁY:</h2>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="KOLOR"
                  name="color"
                  type="text"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="URL-art NA POSTACI"
                  name="imageUrl"
                  type="text"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="URL-art GARDEROBA"
                  name="imageUrlMin"
                  type="text"
                  required
                />
              </div>
            </div>
            <h5>*../images/character/clothes/"typ"/"nazwa-pliku"</h5>
          </div>
          <br />
          <h2>STATYSTYKI:</h2>
          <div class="row margin-test">
            <div class="col-sm">
              <input
                class="form-control"
                placeholder="STYL"
                name="style"
                type="text"
                required
              />
              <br />
              <input
                class="form-control"
                placeholder="KREATYWNOŚĆ"
                name="creativity"
                type="text"
                required
              />
            </div>
            <div class="col-sm">
              <input
                class="form-control"
                placeholder="INTELIGENCJA"
                name="Intelligence"
                type="text"
                required
              />
              <br />
              <input
                class="form-control"
                placeholder="KONDYCJA"
                name="Condition"
                type="text"
                required
              />
            </div>
          </div>
          <br /><br /><br />
          <center>
            <div class="classdivbottom margin-bottom">
              <button class="btn btn-white" type="submit">
                <a>DODAJ NOWE</a>
              </button>
            </div>
          </center>
        </form>
      </div>
    </div>
    <script language="javascript " src="js/bootstrap.min.js "></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js "
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
      crossorigin="anonymous "
    ></script>
  </body>
</html>
