<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>ZAPLECZE | DreamPrincess</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/styleAdmin.css" />
  </head>

  <body>
    <% include ../partials/nav %> <% include ../partials/navPrincess %>
    <div class="wapperStyled">
      <div class="wrapperProfile">
        <div class="full-width"><h1>ZAPLECZE ADMINISTRATORA</h1></div>
        <div class="div-row-2">
          <div class="rowstyledleft">
            <h5><strong>ASOTRYMENT</strong></h5>
            <div class="line-purple"></div>
            <button class="btn btn-white email" type="submit" value="Submit">
              <a
                href="/admin/clothes"
                style="color:#fff; text-decoration: none;"
              >
                PRZEGLĄDAJ</a
              >
            </button>
            <button class="btn btn-white email" type="submit" value="Submit">
              <a
                href="/admin/clothes-new"
                style="color:#fff; text-decoration: none;"
              >
                DODAJ NOWY</a
              >
            </button>
            <br />
          </div>
          <div class="rowstyledright">
            <h5 class="purple"><strong>ZARZĄDZAJ UŻYTKOWNIKAMI</strong></h5>
            <div class="line-white"></div>
            <button class="btn btn-white email" type="submit" value="Submit">
              <a
                href="/admin/user-list"
                style="color:#fff; text-decoration: none;"
              >
                PRZEGLĄDAJ</a
              >
            </button>
            <div class="mini-a">
              <a>Pamiętaj wszelkie zmiany są nieodwracalne!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script language="javascript " src="js/bootstrap.min.js "></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js "
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
      crossorigin="anonymous "
    ></script>
  </body>
</html>
