<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="iorisu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>CHANGE PASSWORD | DreamPrincess</title>
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 offset-md-2" style="padding: 0; margin: auto; background-color: #fcadbc; top: 300px; border:1px solid #fcadbc; border-radius: 15px">
                <form method="POST" action="/email" style="padding: 30px;">
                    <h5 style="margin-bottom: 30px;">ZMIEŃ HASŁO:</h5>
                    <div class="form-group" style="margin-bottom: 30px;">
                        <input class="form-control" placeholder="hasło" name="password" type="password" required>
                    </div>
                    <center>
                        <button class="btn">
                            <a href="/homepage/user-profile" style="color:#fcadbc; text-decoration: none; font-size: 20px; ">WRÓĆ</a>
                        </button>

                        <button class="btn" type="submit">
                            <a>ZAPISZ</a>
                        </button>
                    </center>
                </form>
            </div>
        </div>
        <script language=" javascript " src="js/bootstrap.min.js "></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
            crossorigin="anonymous "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
            crossorigin="anonymous "></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
            crossorigin="anonymous "></script>
</body>

</html>