<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>CITY | DreamPrincess</title>
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/styleCity.css" />
  </head>

  <body>
    <% include ../partials/nav %> <% include ../partials/navPrincess %>
    <div class="wapperStyled">
      <div class="wrapperCity">
        <h1 class="Title">Miasto</h1>
        <h2 class="SubTitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h2>
        <div class="DescriptionLeft">
          <p class="Yellow">&nbsp;&nbsp;SPA</p>
          - Phasellus luctus metus eget dolor convallis egestas. Integer eget
          ante neque. Sed venenatis vitae odio in posuere. Pellentesque et leo
          nisi. <br />
          <br />
          <p class="Green">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BANKOMAT
          </p>
          - Phasellus luctus metus eget dolor convallis egestas. Integer eget
          ante neque. Sed venenatis vitae odio in posuere. Pellentesque et leo
          nisi.
        </div>
        <div class="MapCity">
          <div class="Atm">
            <button class="Buttons">
              <a href="/homepage/city/atm">ATM</a>
            </button>
          </div>
          <div class="ShoppingCenter">
            <button class="Buttons">
              <a href="/homepage/city/shopping-center">SHOPPING<br />CENTER</a>
            </button>
          </div>
          <div class="Library">
            <button class="Buttons">
              <a href="/homepage/city/library">LIBRARY</a>
            </button>
          </div>
          <div class="Hause">
            <button class="Buttons"><a href="/homepage">HOUSE</a></button>
          </div>
        </div>
        <div class="DescriptionRight">
          <p class="Pink">CENTRUM HANDLOWE</p>
          &nbsp; - Praesent bibendum, nunc sit amet scelerisque dictum, sapien
          nulla sodales massa, sed hendrerit arcu risus quis enim. Donec et nisi
          vitae orci fermentum varius. <br />
          <br />
          <p class="Blue">BIBLIOTEKA</p>
          &nbsp; - In mollis, augue ut semper maximus, nibh lectus congue augue,
          sed molestie eros lorem non ipsum. Proin id ullamcorper risus. <br />
          <br />
          <p class="Orange">MIESZKANIE</p>
          &nbsp;- Mauris blandit est eget felis consectetur pellentesque.
          Vivamus nulla tortor, tincidunt ut pretium a, accumsan vel ligula.
        </div>
      </div>
    </div>
    <script language=" javascript " src="js/bootstrap.min.js "></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js "
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
      crossorigin="anonymous "
    ></script>
  </body>
</html>
