<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>CITY: ATM | DreamPrincess</title>
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/styleCityLibrary.css" />
  </head>

  <body>
    <% include ../partials/nav %> <% include ../partials/navPrincess %>
    <div class="wapperStyled">
      <div class="wrapperCity">
        <button
          class="btn btn-white button-up"
          style="width:80px; padding: 10px"
        >
          <a href="http://localhost:3000/homepage/city">Powrót</a>
        </button>
        <h1 class="Title">Bankomat</h1>
        <h2 class="SubTitle">Odbierz dzienną gotówkę.</h2>
        <div class="imgMoney">
          <img width="100%" src="../../images/city/money.png" />
        </div>
        <a id="letsMoney" style="position:fixed" class="invisible"
          ><%=user.letsMoney%></a
        >

        <% if (user.letsMoney == null) { %>
        <form method="POST" action="/first-atm">
          <input
            style="position:fixed"
            class="invisible"
            class="form-control"
            id="dpMoney"
            name="dpMoney"
            type="number"
            value="<%= user.dpMoney+15 %>"
            required
          />
          <center>
            <div class="classdivbottom margin-bottom">
              <button class="button btn btn-white" type="submit">
                <a>UMIEŚĆ KARTĘ</a>
              </button>
            </div>
          </center>
        </form>
        <% } else if (Date.now() > user.letsMoney ) {%>

        <form method="POST" action="/first-atm">
          <input
            style="position:fixed"
            class="invisible"
            class="form-control"
            id="dpMoney"
            name="dpMoney"
            type="number"
            value="<%= user.dpMoney+15 %>"
            required
          />
          <center>
            <div class="classdivbottom margin-bottom">
              <button class="button btn btn-white" type="submit">
                <a>UMIEŚĆ KARTĘ</a>
              </button>
            </div>
          </center>
        </form>
        <% }else { %> <br />
        <div class="bought-pink">POBIERANO GOTÓWKĘ</div>
        <% } %>
      </div>
    </div>
    <script language=" javascript " src="js/bootstrap.min.js "></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js "
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
      crossorigin="anonymous "
    ></script>
  </body>
</html>
