<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>CITY: Library | DreamPrincess</title>
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/styleCityLibrary.css" />
  </head>

  <body>
    <% include ../partials/nav %> <% include ../partials/navPrincess %>
    <div class="wapperStyled">
      <div class="wrapperCity">
        <button
          class="btn btn-white button-up"
          style="width:80px; padding: 10px"
        >
          <a href="http://localhost:3000/homepage/city">Powrót</a>
        </button>
        <h1 class="Title">Biblioteka</h1>
        <h2 class="SubTitle">
          Zbierz karty do pary, aż odkryjesz całą talię.<br />
          <hr />
          Ćwicz pamięć i rozwijaj punkty <strong>inteligencji!</strong>
        </h2>
        <a id="letsMoney" style="position:fixed" class="invisible"
          ><%=user.letsPlay%></a
        >
        <a id="intelligence" style="position:fixed" class="invisible"
          ><%=user.Intelligence%></a
        >
        <div class="game">
          <div class="game-board"></div>

          <div class="game-score invisible"></div>

          <% if (user.letsPlay == null) { %>
          <button class="button game-start btn btn-white">
            Rozpocznij grę
          </button>
          <% } else if (Date.now() > user.letsPlay ) {%>
          <button class="button game-start btn btn-white">
            Rozpocznij grę
          </button>
          <% }else { %> <br />
          <div class="bought-pink">WRÓĆ JUTRO!</div>
          <% } %>
          <form
            id="myForm"
            method="POST"
            action="/first-library"
            style="position:fixed"
            class="invisible"
          >
            <input
              class="form-control"
              id="Intelligence"
              name="Intelligence"
              type="number"
              value="0"
              required
            />
            <center>
              <div class="classdivbottom margin-bottom">
                <button class="button btn btn-white" type="submit">
                  <a>wyślij</a>
                </button>
              </div>
            </center>
          </form>
        </div>
      </div>
    </div>
    <script language=" javascript " src="js/bootstrap.min.js "></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js "
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
      crossorigin="anonymous "
    ></script>

    <script src="../../../javascripts/memoGame.js"></script>
    <script></script>
  </body>
</html>
