<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>CITY: ShoppingCenter | DreamPrincess</title>
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/styleCityShopping.css" />
  </head>

  <body>
    <% include ../partials/nav %> <% include ../partials/navPrincess %>
    <div class="wapperStyled">
      <div class="wrapperCity">
        <button
          class="btn btn-white button-up"
          style="width:80px; padding: 10px"
        >
          <a href="http://localhost:3000/homepage/city">Powrót</a>
        </button>
        <h1 class="Title">Centrum Handlowe</h1>
        <h2 class="SubTitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h2>
        <hr />
        <br />
        <div class="buy">
          <div class="SubTitle titleBuy"><strong>OKULARY (30DP)</strong></div>
          <hr />
          <div class="row">
            <div class="col-7 BuyColLeft">
              <img width="100%" src="../../images/character/glasses-shop.png" />
              <br /><br /><br />
              <% if (user.glassesBuy == true) { %>
              <div class="bought">POSIADASZ</div>
              <% } else if (user.dpMoney<30){ %>
              <div class="bought-pink">BRAK DP!</div>
              <% } else if (user.glassesBuy == false) { %>
              <form class="top-column" method="POST" action="/buy-glasses">
                <div class="form-group">
                  <input
                    class="form-control"
                    placeholder="glassesBuy"
                    name="glassesBuy"
                    value="true"
                    type="hidden"
                    required
                    readonly
                  />
                  <input
                    class="form-control"
                    placeholder="dpMoney"
                    name="dpMoney"
                    value="<%= user.dpMoney-30 %>"
                    type="hidden"
                    required
                    readonly
                  />
                </div>
                <button class="button buybtn btn btn-white" type="submit">
                  KUP
                </button>
              </form>
              <% } %>
            </div>
            <div class="col-5 BuyCol">
              <strong
                >Jesteś molem książkowym<br />
                i chcesz się wyróżniać?<br /><br />
                Wzmocnij swoją koncentrację<br />
                poprzez niesamowite okulary!</strong
              >
              <br />
              <br />
              <strong>W zestawie:</strong> <br />
              - Duże okulary <br />
              - Muchy <br />
              <br />
              <strong>WZROST EMPIRII: </strong> <br />
              +30 inteligencja
            </div>
          </div>
        </div>
        <br />
        <div class="buy">
          <div class="SubTitle titleBuy">
            <strong>ZAKOLANÓWKI (30DP)</strong>
          </div>
          <hr />
          <div class="row">
            <div class="col-7 BuyColLeft">
              <img width="100%" src="../../images/character/socks-shop.png" />
              <br /><br /><br />
              <% if (user.socksBuy == true) { %>
              <div class="bought">POSIADASZ</div>
              <% } else if (user.dpMoney<30){ %>
              <div class="bought-pink">BRAK DP!</div>
              <% } else if (user.socksBuy == false) { %>
              <form class="top-column" method="POST" action="/buy-socks">
                <div class="form-group">
                  <input
                    class="form-control"
                    placeholder="socksBuy"
                    name="socksBuy"
                    value="true"
                    type="hidden"
                    required
                    readonly
                  />
                  <input
                    class="form-control"
                    placeholder="dpMoney"
                    name="dpMoney"
                    value="<%= user.dpMoney-30 %>"
                    type="hidden"
                    required
                    readonly
                  />
                </div>
                <button class="button buybtn btn btn-white" type="submit">
                  KUP
                </button>
              </form>
              <% } %>
            </div>
            <div class="col-5 BuyCol">
              <strong
                ><br />
                Idealne na chłodniesze dni.<br /><br />
                Poczujesz się na japońska uczennica!<br /><br />
                Ukryj swoje niedoskonałości!</strong
              >
              <br />
              <br />
              <strong>Kolory:</strong> <br />
              - Czarne <br />
              - Białe <br />
              <br />
              <strong>WZROST EMPIRII: </strong> <br />
              +30 kondycja
            </div>
          </div>
        </div>
      </div>
    </div>
    <script language=" javascript " src="js/bootstrap.min.js "></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js "
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
      crossorigin="anonymous "
    ></script>
  </body>
</html>
