<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>CLOTHES | DreamPrincess</title>
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/stylewardrobe.css" />
  </head>

  <body>
    <% include ../partials/nav %> <% include ../partials/navPrincess %>
    <div class="wapperStyled">
      <div class="wrapperProfileClotheSection">
        <br /><br />
        <center>
          <button
            class="btn btn-upper-admin"
            type="submit"
            style="margin-left: 0px"
          >
            <a
              href="/homepage/clothes"
              style="color:#8b73bd; text-decoration: none;"
              >WRÓĆ DO GARDEROBY</a
            >
          </button>
        </center>
        <br />
        <ul>
          <% clothes.forEach(function(clothe, i, arr){ -%>
          <li>
            <%clothe %>
            <h5><%=clothe.name %></h5>
            <img
              src="../<%=clothe.imageUrlMin %>"
              style="margin-left: 13px;width: 90%;height: auto; margin-top: -20px;"
            />
            <h5 style="margin-top: -10px; font-size: 11px;">
              Styl: +<%=clothe.style %> <br />
              Kreatywność: +<%=clothe.creativity %> <br />
              Inteligencja: +<%=clothe.Intelligence %> <br />
              Kondycja: +<%=clothe.Condition %>
            </h5>
          </li>
          <% }); -%>
        </ul>
      </div>
    </div>
    <script language=" javascript " src="js/bootstrap.min.js "></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js "
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
      crossorigin="anonymous "
    ></script>
  </body>
</html>
