<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>CREATE PRINCESS - STEP 1| DreamPrincess</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/styleprincessCreate.css" />
  </head>

  <body>
    <% include ../partials/nav %>
    <div class="wapperStyled">
      <div class="wrapperProfile">
        <div class="CharacterSection">
          <img
            id="hair"
            width="100%"
            class="imgPrincess"
            src="../images/character/hair/blonde.png"
            style="z-index: 2"
          />
          <!-- Hair -->
          <img
            id="eye"
            width="100%"
            class="imgPrincess"
            src="../images/character/eyes/blue.gif"
            style="z-index: 1"
          />
          <!-- Eyes -->
          <img
            id="skin"
            width="100%"
            class="imgPrincess"
            src="../images/character/skin/white.png"
            style="z-index: 0"
          />
          <!-- Skin -->
          <img width="100%" src="../../../images/character/background.png" />
        </div>
        <div class="NavbarGame">
          <form
            method="POST"
            action="/create-princess-step-1"
            clsss="formPrincess"
          >
            <br /><br /><br />
            <h4 class="title">UTWÓRZ PRINCESS</h4>
            <div class="titledescdiv">
              <a class="titledescription">
                Wykreuj swoją księżniczkę i poprowadź ją przez magiczny świat
                <strong style="color: #fcadbc">DreamPrincess!</strong>
              </a>
            </div>
            <br /><br />
            <hr />
            <br />
            <br />
            <div class="formcenter">
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="IMIĘ:"
                  name="namePrincess"
                  type="text"
                  required
                />
              </div>
              <br />
              <br /><br />
              <div class="form-group">
                <label for="choseSkins">KOLOR SKÓRY:</label>
                <select
                  class="form-control"
                  id="choseSkins"
                  name="skinColor"
                  onclick="choseSkin()"
                  required
                >
                  <option name="skinColor" value="white" type="text"
                    >Biała</option
                  >
                  <option name="skinColor" value="brown" type="text"
                    >Brązowa</option
                  >
                  <option name="skinColor" value="black" type="text"
                    >Czarna</option
                  >
                </select>
              </div>
              <br />
              <div class="form-group">
                <label for="choseEyes">KOLOR OCZU:</label>
                <select
                  class="form-control"
                  id="choseEyes"
                  name="eyeColor"
                  onclick="choseEye()"
                  required
                >
                  <option name="eyeColor" value="blue" type="text"
                    >Niebieskie</option
                  >
                  <option name="eyeColor" value="green" type="text"
                    >Zielone</option
                  >
                  <option name="eyeColor" value="brown" type="text"
                    >Brązowe</option
                  >
                </select>
              </div>
              <br />
              <div class="form-group">
                <label for="choseHairs">KOLOR WŁOSÓW:</label>
                <select
                  class="form-control"
                  id="choseHairs"
                  name="hairColor"
                  onclick="choseHair()"
                  required
                >
                  <option name="hairColor" value="blonde" type="text"
                    >Blond</option
                  >
                  <option name="hairColor" value="brown" type="text"
                    >Brązowe</option
                  >
                  <option name="hairColor" value="black" type="text"
                    >Czarne</option
                  >
                </select>
              </div>
              <br /><br /><br /><br />
              <div class="classdivbottom">
                <a class="smalla" style="color: #8b73bd"
                  >*DALEJ DOWIESZ SIĘ O STATYSTYKACH SWOJEJ PRINCESS.</a
                ><br />
                <button class="btn btn-white" type="submit">
                  <a>PRZEJDŹ DALEJ</a>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script language="javascript" src="js/bootstrap.min.js"></script>
    <script>
      function choseSkin() {
        if (document.getElementById("choseSkins").value == "white") {
          document.getElementById("skin").src =
            "../images/character/skin/white.png";
        }
        if (document.getElementById("choseSkins").value == "brown") {
          document.getElementById("skin").src =
            "../images/character/skin/brown.png";
        }
        if (document.getElementById("choseSkins").value == "black") {
          document.getElementById("skin").src =
            "../images/character/skin/black.png";
        }
      }

      function choseEye() {
        if (document.getElementById("choseEyes").value == "blue") {
          document.getElementById("eye").src =
            "../images/character/eyes/blue.gif";
        }
        if (document.getElementById("choseEyes").value == "green") {
          document.getElementById("eye").src =
            "../images/character/eyes/green.gif";
        }
        if (document.getElementById("choseEyes").value == "brown") {
          document.getElementById("eye").src =
            "../images/character/eyes/brown.gif";
        }
      }

      function choseHair() {
        if (document.getElementById("choseHairs").value == "blonde") {
          document.getElementById("hair").src =
            "../images/character/hair/blonde.png";
        }
        if (document.getElementById("choseHairs").value == "brown") {
          document.getElementById("hair").src =
            "../images/character/hair/brown.png";
        }
        if (document.getElementById("choseHairs").value == "black") {
          document.getElementById("hair").src =
            "../images/character/hair/black.png";
        }
      }
    </script>
  </body>
</html>
