<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>CHANGE CLOTHES | DreamPrincess</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/styleClothe.css" />
  </head>

  <body>
    <% include ../partials/nav %> <% if (clothes === true){ %> <%include
    ../partials/navPrincess%> <%}%>
    <div class="wapperStyled">
      <div class="wrapperProfile">
        <div class="CharacterSection">
          <!-- Socks -->
          <img
            id="socks"
            width="100%"
            class="imgPrincess"
            src="../../../images/character/clothes/sock/<%=user.socks%>"
            style="z-index: 2"
          />
          <!-- Glasses -->
          <img
            id="glasses"
            width="100%"
            class="imgPrincess"
            src="../../../images/character/clothes/glasses/<%=user.glasses%>"
            style="z-index: 7"
          />
          <img
            id="head"
            width="100%"
            class="imgPrincess"
            src="../images/character/clothes/head/<%=user.head%>"
            style="z-index: 6"
          />
          <!-- Head -->
          <img
            id="middle"
            width="100%"
            class="imgPrincess"
            src="../images/character/clothes/middle/<%=user.middle%>"
            style="z-index: 4"
          />
          <!-- Middle -->
          <img
            id="bottom"
            width="100%"
            class="imgPrincess"
            src="../images/character/clothes/bottom/<%=user.bottom%>"
            style="z-index: 5"
          />
          <!-- Bottom -->
          <img
            id="shoes"
            width="100%"
            class="imgPrincess"
            src="../images/character/clothes/shoes/<%=user.shoes%>"
            style="z-index: 3"
          />
          <!-- Shoes -->
          <!-- Detail -->
          <img
            class="imgPrincess"
            width="100%"
            src="../images/character/hair/<%=user.hairColor%>.png"
            style="z-index: 2"
          />
          <!-- Hair -->
          <img
            class="imgPrincess"
            width="100%"
            src="../images/character/eyes/<%=user.eyeColor%>.gif"
            style="z-index: 1"
          />
          <!-- Eyes -->
          <img
            class="imgPrincess"
            width="100%"
            src="../images/character/skin/<%=user.skinColor%>.png"
            style="z-index: 0"
          />
          <!-- Skin -->
          <img width="100%" src="../../../images/character/background.png" />
        </div>
      </div>
      <div class="NavbarGame">
        <!-- Zapis wartości przed edycją -->
        <a id="headPre" style="position:fixed" class="invisible"
          ><%=user.head%></a
        >
        <a id="shoesPre" style="position:fixed" class="invisible"
          ><%=user.shoes%></a
        >
        <a id="stylesPre" style="position:fixed" class="invisible"
          ><%=user.style%>
        </a>
        <a id="creativityPre" style="position:fixed" class="invisible"
          ><%=user.creativity%></a
        >
        <a id="IntelligencePre" style="position:fixed" class="invisible"
          ><%=user.Intelligence%></a
        >
        <a id="ConditionPre" style="position:fixed" class="invisible"
          ><%=user.Condition%></a
        >

        <a id="glassesPre" style="position:fixed" class="invisible"
          ><%=user.glasses%></a
        >
        <a id="socksPre" style="position:fixed" class="invisible"
          ><%=user.socks%></a
        >
        <a id="SocksBUY" style="position:fixed" class="invisible"
          ><%=user.socksBuy%></a
        >
        <a id="GlassesBUY" style="position:fixed" class="invisible"
          ><%=user.glassesBuy%></a
        >
        <!---->
        <form
          method="POST"
          action="/homepage/edit-costume"
          clsss="formPrincess"
        >
          <br />
          <div class="formcenter">
            <div class="form-group">
              <label for="choseHeads">DODATKI</label>
              <select
                class="form-control"
                id="choseHeads"
                name="head"
                onclick="choseHead()"
                required
              >
                <option name="head" value="none.png" type="text">Brak</option>
                <option name="head" value="rabbitPink.png" type="text"
                  >Różowe (kreatywność +5)</option
                >
                <option name="head" value="rabbitBlue.png" type="text"
                  >Niebieskie (kreatywność +5)</option
                >
                <option name="head" value="rabbitYellow.png" type="text"
                  >Zółte (kreatywność +5)</option
                >
              </select>
            </div>
            <br />
            <div class="form-group">
              <label for="choseMiddles">GÓRA:</label>
              <select
                class="form-control"
                id="choseMiddles"
                name="middle"
                onclick="choseMiddle()"
                required
              >
                <option name="middle" value="jerseyWhite.png" type="text"
                  >Biała (styl +5)</option
                >
                <option name="middle" value="jerseyBlack.png" type="text"
                  >Czarna (styl +5)</option
                >
              </select>
            </div>
            <br />
            <div class="form-group">
              <label for="choseBottoms">DÓŁ:</label>
              <select
                class="form-control"
                id="choseBottoms"
                name="bottom"
                onclick="choseBottom()"
                required
              >
                <option name="bottom" value="skirtClochePink.png" type="text"
                  >Różowa (styl +5)</option
                >
                <option name="bottom" value="skirtClocheBlue.png" type="text"
                  >Niebieska (styl +5)</option
                >
                <option name="bottom" value="skirtClocheYellow.png" type="text"
                  >Żółta (styl +5)</option
                >
              </select>
            </div>
            <br />
            <div class="form-group">
              <label for="choseShoess">BUTY:</label>
              <select
                class="form-control"
                id="choseShoess"
                name="shoes"
                onclick="choseShoes()"
                required
              >
                <option name="shoes" value="none.png" type="text">Brak</option>
                <option name="shoes" value="bootiesPink.png" type="text"
                  >Różowe (styl +5)</option
                >
                <option name="shoes" value="bootiesBlue.png" type="text"
                  >Niebieskie (styl +5)</option
                >
                <option name="shoes" value="bootiesYellow.png" type="text"
                  >Żółte (styl +5)</option
                >
              </select>
            </div>
            <hr />

            <div class="form-group">
              <label for="choseglasses">Okulary:</label>
              <select
                class="form-control"
                id="choseglasses"
                name="glasses"
                onclick="choseGlasses()"
                required
              >
                <option name="glasses" value="none.png" type="text"
                  >Brak</option
                >
                <% if (user.glassesBuy == true){ %>
                <option name="glasses" value="glassesBig.png" type="text"
                  >Duże (inteligencja +30)</option
                >
                <option name="glasses" value="glassesFly.png" type="text"
                  >Muchy (inteligencja +30)</option
                >
                <% } %>
              </select>
            </div>

            <div class="form-group">
              <label for="chosesocks">Zakolanówki:</label>
              <select
                class="form-control"
                id="chosesocks"
                name="socks"
                onclick="choseSocks()"
                required
              >
                <option name="socks" value="none.png" type="text">Brak</option>
                <% if (user.socksBuy == true) { %>
                <option name="socks" value="sockWhite.png" type="text"
                  >Białe (kondycja +30)</option
                >
                <option name="socks" value="sockBlack.png" type="text"
                  >Czarne (kondycja +30)</option
                >
                <% } %>
              </select>
            </div>

            <hr />
            <div style="position:fixed" class="invisible">
              <input
                class="form-control"
                name="style"
                id="style"
                type="number"
                value="0"
                required
              />
              <input
                class="form-control"
                id="creativity"
                name="creativity"
                type="number"
                value="0"
                required
              />
              <input
                class="form-control"
                id="Intelligence"
                name="Intelligence"
                type="number"
                value="0"
                required
              />
              <input
                class="form-control"
                id="Condition"
                name="Condition"
                type="number"
                value="0"
                required
              />
            </div>

            <div class="form-group" style="display: none;">
              <input
                class="form-control"
                value="<%=user._id%>"
                name="princessId"
                type="text"
              />
            </div>
            <br />
            <button
              class="btn btn-white-upper"
              type="button"
              onclick="saveStat()"
            >
              Aktualizuj Empirię
            </button>
            <br />
            <br />
            <hr />
            <br />
            <center>
              <div>
                <button class="btn btn-white" type="submit">
                  <a>ZAPISZ</a>
                </button>
              </div>
            </center>
          </div>
        </form>
      </div>
    </div>
    <script language="javascript" src="js/bootstrap.min.js"></script>
    <script>
      var statHead = 0;
      var statShoes = 0;
      var statGlasses = 0;
      var statSocks = 0;

      function choseHead() {
        if (document.getElementById("choseHeads").value == "none.png") {
          document.getElementById("head").src =
            "../images/character/clothes/head/none.png";
          statHead = 0;
        }
        if (document.getElementById("choseHeads").value == "rabbitPink.png") {
          document.getElementById("head").src =
            "../images/character/clothes/head/rabbitPink.png";
          statHead = 5;
        }
        if (document.getElementById("choseHeads").value == "rabbitBlue.png") {
          document.getElementById("head").src =
            "../images/character/clothes/head/rabbitBlue.png";
          statHead = 5;
        }
        if (document.getElementById("choseHeads").value == "rabbitYellow.png") {
          document.getElementById("head").src =
            "../images/character/clothes/head/rabbitYellow.png";
          statHead = 5;
        }
      }

      function choseMiddle() {
        if (
          document.getElementById("choseMiddles").value == "jerseyWhite.png"
        ) {
          document.getElementById("middle").src =
            "../images/character/clothes/middle/jerseyWhite.png";
        }
        if (
          document.getElementById("choseMiddles").value == "jerseyBlack.png"
        ) {
          document.getElementById("middle").src =
            "../images/character/clothes/middle/jerseyBlack.png";
        }
      }

      function choseBottom() {
        if (
          document.getElementById("choseBottoms").value == "skirtClochePink.png"
        ) {
          document.getElementById("bottom").src =
            "../images/character/clothes/bottom/skirtClochePink.png";
        }
        if (
          document.getElementById("choseBottoms").value == "skirtClocheBlue.png"
        ) {
          document.getElementById("bottom").src =
            "../images/character/clothes/bottom/skirtClocheBlue.png";
        }
        if (
          document.getElementById("choseBottoms").value ==
          "skirtClocheYellow.png"
        ) {
          document.getElementById("bottom").src =
            "../images/character/clothes/bottom/skirtClocheYellow.png";
        }
      }
      function choseShoes() {
        if (document.getElementById("choseShoess").value == "none.png") {
          document.getElementById("shoes").src =
            "../images/character/clothes/shoes/none.png";
          statShoes = 0;
        }
        if (document.getElementById("choseShoess").value == "bootiesPink.png") {
          document.getElementById("shoes").src =
            "../images/character/clothes/shoes/bootiesPink.png";
          statShoes = 5;
        }
        if (document.getElementById("choseShoess").value == "bootiesBlue.png") {
          document.getElementById("shoes").src =
            "../images/character/clothes/shoes/bootiesBlue.png";
          statShoes = 5;
        }
        if (
          document.getElementById("choseShoess").value == "bootiesYellow.png"
        ) {
          document.getElementById("shoes").src =
            "../images/character/clothes/shoes/bootiesYellow.png";
          statShoes = 5;
        }
      }

      function choseGlasses() {
        if (document.getElementById("choseglasses").value == "none.png") {
          document.getElementById("glasses").src =
            "../images/character/clothes/glasses/none.png";
          statGlasses = 0;
        }
        if (document.getElementById("choseglasses").value == "glassesBig.png") {
          document.getElementById("glasses").src =
            "../images/character/clothes/glasses/glassesBig.png";
          statGlasses = 30;
        }
        if (document.getElementById("choseglasses").value == "glassesFly.png") {
          document.getElementById("glasses").src =
            "../images/character/clothes/glasses/glassesFly.png";
          statGlasses = 30;
        }
      }

      function choseSocks() {
        if (document.getElementById("chosesocks").value == "none.png") {
          document.getElementById("socks").src =
            "../images/character/clothes/sock/none.png";
          statSocks = 0;
        }
        if (document.getElementById("chosesocks").value == "sockWhite.png") {
          document.getElementById("socks").src =
            "../images/character/clothes/sock/sockWhite.png";
          statSocks = 30;
        }
        if (document.getElementById("chosesocks").value == "sockBlack.png") {
          document.getElementById("socks").src =
            "../images/character/clothes/sock/sockBlack.png";
          statSocks = 30;
        }
      }

      function saveStat() {
        var StyleUser = parseInt(
          document.getElementById("stylesPre").textContent
        );
        var CrativityUser = parseInt(
          document.getElementById("creativityPre").textContent
        );
        var Head = document.getElementById("headPre").textContent;
        var Shoes = document.getElementById("shoesPre").textContent;

        console.log("styleUser:" + StyleUser);
        console.log("CrativityUser:" + CrativityUser);
        console.log("Head:" + Head);
        console.log("Shoes:" + Shoes);

        var glassesPre = document.getElementById("glassesPre").textContent;
        var socksPre = document.getElementById("socksPre").textContent;

        var IntelligenceUser = parseInt(
          document.getElementById("IntelligencePre").textContent
        );
        var ConditionUser = parseInt(
          document.getElementById("ConditionPre").textContent
        );

        var SocksBUY = document.getElementById("SocksBUY").textContent;
        var GlassesBUY = document.getElementById("GlassesBUY").textContent;

        //Kreatywność na głowie
        if (Head === "none.png") {
          if (statHead == 0) {
            CrativityUser = CrativityUser;
          } else {
            CrativityUser = CrativityUser + statHead;
            console.log(CrativityUser);
          }
        } else {
          if (statHead == 0) {
            CrativityUser = CrativityUser - 5;
          } else {
            CrativityUser = CrativityUser;
          }
        }

        //Styl na butach
        if (Shoes == "none.png") {
          if (statShoes == 0) {
            StyleUser = StyleUser;
          } else {
            StyleUser = StyleUser + statShoes;
          }
        } else {
          if (statShoes == 0) {
            StyleUser = StyleUser - 5;
          } else {
            StyleUser = StyleUser;
          }
        }

        //Inteligencja na okularach
        if (glassesPre === "none.png") {
          if (statGlasses == 0) {
            IntelligenceUser = IntelligenceUser;
          } else {
            IntelligenceUser = IntelligenceUser + statGlasses;
            console.log(IntelligenceUser);
          }
        } else {
          if (statGlasses == 0) {
            IntelligenceUser = IntelligenceUser - 30;
          } else {
            IntelligenceUser = IntelligenceUser;
          }
        }

        //Kondycja na skarpetach
        if (socksPre === "none.png") {
          if (statSocks == 0) {
            ConditionUser = ConditionUser;
          } else {
            ConditionUser = ConditionUser + statSocks;
            console.log(ConditionUser);
          }
        } else {
          if (statSocks == 0) {
            ConditionUser = ConditionUser - 30;
          } else {
            ConditionUser = ConditionUser;
          }
        }

        console.log("styl: " + StyleUser + " kreatywnosc: " + CrativityUser);
        console.log(
          "inteligencja: " + IntelligenceUser + " kondycja: " + ConditionUser
        );

        document.getElementById("creativity").value = parseInt(CrativityUser);
        document.getElementById("style").value = parseInt(StyleUser);
        document.getElementById("Intelligence").value = parseInt(
          IntelligenceUser
        );
        document.getElementById("Condition").value = parseInt(ConditionUser);
      }
    </script>
  </body>
</html>
