<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>CREATE PRINCESS - STEP 3 | DreamPrincess</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/styleClotheCreate.css" />
  </head>

  <body>
    <% include ../partials/nav %>
    <div class="wapperStyled">
      <div class="wrapperProfile">
        <div class="CharacterSection">
          <img
            id="head"
            width="100%"
            class="imgPrincess"
            src="../images/character/clothes/head/none.png"
            style="z-index: 6"
          />
          <!-- Head -->
          <img
            id="middle"
            width="100%"
            class="imgPrincess"
            src="../images/character/clothes/middle/jerseyWhite.png"
            style="z-index: 4"
          />
          <!-- Middle -->
          <img
            id="bottom"
            width="100%"
            class="imgPrincess"
            src="../images/character/clothes/bottom/skirtClochePink.png"
            style="z-index: 5"
          />
          <!-- Bottom -->
          <img
            id="shoes"
            width="100%"
            class="imgPrincess"
            src="../images/character/clothes/shoes/none.png"
            style="z-index: 3"
          />
          <!-- Shoes -->
          <!-- Detail -->
          <img
            class="imgPrincess"
            width="100%"
            src="../images/character/hair/<%=user.hairColor%>.png"
            style="z-index: 2"
          />
          <!-- Hair -->
          <img
            class="imgPrincess"
            width="100%"
            src="../images/character/eyes/<%=user.eyeColor%>.gif"
            style="z-index: 1"
          />
          <!-- Eyes -->
          <img
            class="imgPrincess"
            width="100%"
            src="../images/character/skin/<%=user.skinColor%>.png"
            style="z-index: 0"
          />
          <!-- Skin -->
          <img width="100%" src="../../../images/character/background.png" />
        </div>
      </div>
      <div class="NavbarGame">
        <form
          method="POST"
          action="/create-princess-step-3"
          clsss="formPrincess"
        >
          <br />
          <br />
          <h4 class="title">Strój podstawowy</h4>
          <div class="titledescdiv">
            <a class="titledescription">Dobrze się zastanów, ponieważ to co masz na sobie wpływa na
              <strong>empirię</strong>.
              <br />
          </div>
          <hr />
          <br />
          <div class="formcenter">
            <div class="form-group">
              <label for="choseHeads">DODATKI</label>
              <select
                class="form-control"
                id="choseHeads"
                name="head"
                onclick="choseHead()"
                required
              >
                <option name="head" value="none.png" type="text">Brak</option>
                <option name="head" value="rabbitPink.png" type="text"
                  >Różowe (kreatywność +5)</option
                >
                <option name="head" value="rabbitBlue.png" type="text"
                  >Niebieskie (kreatywność +5)</option
                >
                <option name="head" value="rabbitYellow.png" type="text"
                  >Zółte (kreatywność +5)</option
                >
              </select>
            </div>
            <br />
            <div class="form-group">
              <label for="choseMiddles">GÓRA:</label>
              <select
                class="form-control"
                id="choseMiddles"
                name="middle"
                onclick="choseMiddle()"
                required
              >
                <option name="middle" value="jerseyWhite.png" type="text"
                  >Biała (styl +5)</option
                >
                <option name="middle" value="jerseyBlack.png" type="text"
                  >Czarna (styl +5)</option
                >
              </select>
            </div>
            <br />
            <div class="form-group">
              <label for="choseBottoms">DÓŁ:</label>
              <select
                class="form-control"
                id="choseBottoms"
                name="bottom"
                onclick="choseBottom()"
                required
              >
                <option name="bottom" value="skirtClochePink.png" type="text"
                  >Różowa (styl +5)</option
                >
                <option name="bottom" value="skirtClocheBlue.png" type="text"
                  >Niebieska (styl +5)</option
                >
                <option name="bottom" value="skirtClocheYellow.png" type="text"
                  >Żółta (styl +5)</option
                >
              </select>
            </div>
            <br />
            <div class="form-group">
              <label for="choseShoess">BUTY:</label>
              <select
                class="form-control"
                id="choseShoess"
                name="shoes"
                onclick="choseShoes()"
                required
              >
                <option name="shoes" value="none.png" type="text">Brak</option>
                <option name="shoes" value="bootiesPink.png" type="text"
                  >Różowe (styl +5)</option
                >
                <option name="shoes" value="bootiesBlue.png" type="text"
                  >Niebieskie (styl +5)</option
                >
                <option name="shoes" value="bootiesYellow.png" type="text"
                  >Żółte (styl +5)</option
                >
              </select>
            </div>
            <br />
            <div style="position:fixed" class="invisible">
              <input
                class="form-control"
                name="style"
                id="style"
                type="number"
                value="0"
                required
              />
              <input
                class="form-control"
                id="creativity"
                name="creativity"
                type="number"
                value="0"
                required
              />
            </div>
            <button
              class="btn btn-white-upper"
              type="button"
              onclick="saveStat()"
            >
              Aktualizuj Empirię
            </button>
            <br />
            <br />
            <hr />
            <div class="form-group" style="display: none;">
              <input
                class="form-control"
                value="<%=user._id%>"
                name="princessId"
                type="text"
              />
            </div>
            <center>
              <div>
                <button class="btn btn-white" type="submit">
                  <a>ZAPISZ</a>
                </button>
              </div>
            </center>
          </div>
        </form>
      </div>
    </div>
    <script language="javascript" src="js/bootstrap.min.js"></script>
    <script>
      var statHead = 0;
      var statMiddle = 5;
      var statBottom = 5;
      var statShoes = 0;
      function choseHead() {
        if (document.getElementById("choseHeads").value == "none.png") {
          document.getElementById("head").src =
            "../images/character/clothes/head/none.png";
          statHead = 0;
        }
        if (document.getElementById("choseHeads").value == "rabbitPink.png") {
          document.getElementById("head").src =
            "../images/character/clothes/head/rabbitPink.png";
          statHead = 5;
        }
        if (document.getElementById("choseHeads").value == "rabbitBlue.png") {
          document.getElementById("head").src =
            "../images/character/clothes/head/rabbitBlue.png";
          statHead = 5;
        }
        if (document.getElementById("choseHeads").value == "rabbitYellow.png") {
          document.getElementById("head").src =
            "../images/character/clothes/head/rabbitYellow.png";
          statHead = 5;
        }
        console.log("statHead " + statHead);
      }

      function choseMiddle() {
        if (
          document.getElementById("choseMiddles").value == "jerseyWhite.png"
        ) {
          document.getElementById("middle").src =
            "../images/character/clothes/middle/jerseyWhite.png";
        }
        if (
          document.getElementById("choseMiddles").value == "jerseyBlack.png"
        ) {
          document.getElementById("middle").src =
            "../images/character/clothes/middle/jerseyBlack.png";
        }
      }

      function choseBottom() {
        if (
          document.getElementById("choseBottoms").value == "skirtClochePink.png"
        ) {
          document.getElementById("bottom").src =
            "../images/character/clothes/bottom/skirtClochePink.png";
        }
        if (
          document.getElementById("choseBottoms").value == "skirtClocheBlue.png"
        ) {
          document.getElementById("bottom").src =
            "../images/character/clothes/bottom/skirtClocheBlue.png";
        }
        if (
          document.getElementById("choseBottoms").value ==
          "skirtClocheYellow.png"
        ) {
          document.getElementById("bottom").src =
            "../images/character/clothes/bottom/skirtClocheYellow.png";
        }
      }
      function choseShoes() {
        if (document.getElementById("choseShoess").value == "none.png") {
          document.getElementById("shoes").src =
            "../images/character/clothes/shoes/none.png";
          statShoes = 0;
        }
        if (document.getElementById("choseShoess").value == "bootiesPink.png") {
          document.getElementById("shoes").src =
            "../images/character/clothes/shoes/bootiesPink.png";
          statShoes = 5;
        }
        if (document.getElementById("choseShoess").value == "bootiesBlue.png") {
          document.getElementById("shoes").src =
            "../images/character/clothes/shoes/bootiesBlue.png";
          statShoes = 5;
        }
        if (
          document.getElementById("choseShoess").value == "bootiesYellow.png"
        ) {
          document.getElementById("shoes").src =
            "../images/character/clothes/shoes/bootiesYellow.png";
          statShoes = 5;
        }
        console.log("StatShoes " + statShoes);
      }

      function saveStat() {
        var Style = statBottom + statMiddle + statShoes;
        var Crativity = statHead;

        document.getElementById("style").value = parseInt(Style);
        document.getElementById("creativity").value = parseInt(Crativity);
      }
    </script>
  </body>
</html>
