<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="author" content="iorisu">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>CREATE PRINCESS - STEP 2| DreamPrincess</title>
  <link rel="stylesheet" href="../../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../stylesheets/bootstrap.css" />
  <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
  <link rel="stylesheet" href="../../stylesheets/styleprincessEmpiria.css" />
</head>

<body>
  <% include ../partials/nav %>
  <div class="wapperStyled">
    <div class="wrapperProfile">
      <div class="NavbarGame">
        <br /><br /><br />
        <h4 class="title">EMPIRIA</h4>
        <div class="titledescdiv">
          <a class="titledescription">
            Empiria to nic innego jak statystyki Twojej Princess. Dotyczą twojego rozwoju podczas całkowitej rozgrywki.
          <br />
          <br />
          Statystyki dzielą się na:
          <br />
          <a class="Pink"> Styl</a>, <a class="Yellow">Kreatywność</a>,<br /> <a class="Blue">Inteligencja</a>, <a class="Green">Kondycja</a>.
          <br />
          <br />
          <a class="Pink"> Styl</a> oraz <a class="Yellow">Kreatywność</a> obejmuje sposób ubrania bohaterki. <br />Natomiast
          <a class="Blue">Inteligencja</a> oraz <a class="Green">Kondycja</a> dotyczy punktów zebranych podczas rozgrywki.
          </a>
        </div>
        <br />
        <hr />
        <br />
        <center>
          <div class="stats">
            <div>
              <div class="QuestDivStyle">
                <p class="ValueStyle"><%=user.style%></p>
              </div>
            </div>
            <div>
              <div class="QuestDivCreativity">
                <p class="ValueCreativity"><%=user.creativity%></p>
              </div>
            </div>
            <div>
              <div class="QuestDivIntelligence">
                <p class="ValueIntelligence"><%=user.Intelligence%></p>
              </div>
            </div>
            <div>
              <div class="QuestDivCondition">
                <p class="ValueCondition"><%=user.Condition%></p>
              </div>
            </div>
          </div>
        </center>     
      <div class="classdivbottom">
        <a class="smalla" style="color: #8b73bd">
          *DALEJ ZAJMIESZ SIĘ DOBOREM KOSTIUMU
          <br />
          CO WPŁYWA NA WARTOŚĆ
          <strong>EMPIRII</strong>.
        </a>
        <br />
        <button class="btn btn-white">
            <a href="/create-princess/step-3">PRZEJDŹ DALEJ</a>
        </button>
    </div></div>
      
    </div>
  </div>
  </div>
  <script language="javascript" src="js/bootstrap.min.js"></script>
  <script>
    function changePlus() {

    }
    function changeMinus() {

    }
  </script>
</body>

</html>