<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>DreamPrincess</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>

  <body>
    <% include ../partials/nav %>
    <div class="styledSectionOne container-fluid">
      <div class="wrapper">
        <div class="title">
          <div class="text">
            <h1 class="small">Stwórz swoją idealną</h1>
            <h1 class="big">bohaterkę!</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="styledSectionTwo container-fluid">
      <div class="wrapperTwo">
        <div class="titleTwo">
          <div class="textTwo">
            <div class="smallTwo">Staw czoła</div>
            <div class="bigTwo">modowym</div>
            <div class="bigTwo">wyzwaniom!</div>
          </div>
          <div class="textTwoBottom">
            <div class="smallTwoBottom">I zostań</div>
            <div class="smallTwoBottom">numerem</div>
            <div class="bigTwoBottom">jeden!</div>
          </div>
        </div>
      </div>
    </div>
    <div class="styledSectionThree">
      <div class="wrapperThree">
        <div class="titleThree"></div>
        <h1 class="smallThree">
          Nie posiadasz jeszcze <strong>konta?</strong>
        </h1>
        <button class="buttonThree btn btn-primary btn-lg">
          <a href="/registration">ZAREJESTRUJ SIĘ</a>
        </button>
      </div>
    </div>
    <div class="styledSectionFour">
      <div class="wrapperFour">
        <div class="footerBottom">
          <div class="menuSection">
            <p class="menuTitle">MENU</p>
            <a class="styledLink" href="">O Grze</a> <br />
            <a class="styledLink" href="/registration">Rejestracja</a>
          </div>
          <div class="faficon"></div>
          <div class="menuSocial">
            <p class="menuTitle">SOCIAL MEDIA</p>
            <div class="iconsWrapper">
              <a class="styledLink" href="#">
                <div class="icon"><div class="FaFacebookF"></div></div>
              </a>
              <a class="styledLink" href="#">
                <div class="icon"><div class="FaInstagram"></div></div>
              </a>
              <a class="styledLink" href="#">
                <div class="icon"><div class="FaTwitter"></div></div>
              </a>
              <a class="styledLink" href="#">
                <div class="icon"><div class="FaYoutube"></div></div>
              </a>
              <a class="styledLink" href="#">
                <div class="icon"><div class=" FaGooglePlusG"></div></div>
              </a>
            </div>
          </div>
        </div>
        <div class="copyright"></div>
      </div>
    </div>
    <script language="javascript " src="js/bootstrap.min.js "></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
