<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>CREATE PRINCESS - DONE | DreamPrincess</title>
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleDelete.css" />
  </head>

  <body>
    <% include ../partials/nav-register %>
    <div class="wrapper container-fluid">
      <form class="formStyledPrincess">
        <div class="TitleStyled"><strong>UTWORZONO PRINCESS</strong></div>
        <hr />
        <div class="NameChar">
          Imię: <strong><%=user.namePrincess%></strong><br />
          <hr />
          <a
            >Na start otrzymujesz bon na
            <strong style="font-size: 20px;"><%=user.dpMoney%>DP!</strong></a
          >
          <br /><br />
          <a style="font-size: 10px; color: #6f2cc1"
            ><strong>DP</strong> to wirtualna waluta w
            <strong>DreamPrincess</strong>, <br />
            dzięki niej jesteś w stanie odkryć <br />
            nowe możliwości <strong>Princess</strong>!
          </a>
        </div>
        <center>
          <button class="btn btn-white btn-small">
            <a href="homepage"> OK </a>
          </button>
        </center>
      </form>
    </div>
    <script language=" javascript " src="js/bootstrap.min.js "></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js "
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
      crossorigin="anonymous "
    ></script>
  </body>
</html>
