<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="iorisu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>NEW ACCOUNT | DreamPrincess</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="stylesheets/styleNewAccount.css" />
</head>

<body>
    <% include ../partials/nav-register %>
    <div class="wrapper container-fluid">
        <div class="top"></div>
        <form class="formStyled">
            <h1 class="TitleStyled">
                <strong>
                    UTWORZONO KONTO
                </strong>
            </h1>
            <hr />
            <h6 class="Titleh4">Nazwa:</h6>
            <p class="color">
                <%=user.username%>
            </p>
            <h6 class="Titleh4">E-mail:</h6>
            <p class="color">
                <%=user.email%>
            </p>
            <button class="btn" type="submit ">
                <a href="/logout">HOME</a>
            </button>
        </form>
    </div>
    <script language=" javascript " src="js/bootstrap.min.js "></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
        crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
        crossorigin="anonymous "></script>
</body>

</html>