<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>PRINCESS: <%=user.namePrincess%> | DreamPrincess</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/styleprincessHomepage.css" />
  </head>

  <body>
    <% include ../partials/nav %> <% include ../partials/navPrincess %>
    <div class="wapperStyled">
      <div class="wrapperProfile">
        <div class="Level">
          <div class="LevelWrapper">
            <% if (user.accountType=="admin") {%>
            <div class="LevelDivAdmin"><p class="Value">&#9882;</p></div>
            <%} else {%>
            <div class="LevelDiv"><p class="Value">&#9813;</p></div>
            <%}%>
            <div class="NameChar"><%=user.namePrincess%></div>
            <hr />
            <div class="mission">
              <div class="quest-title">
                ZADANIA <strong>3/3</strong>
                <a style="color:#A9A9A9; font-size:11px;">soon!</a>
              </div>
              <div class="quest">
                <div class="QuestDiv"><p class="ValueQuest">&#9825;</p></div>
              </div>
              <div class="quest">
                <div class="QuestDiv"><p class="ValueQuest">&#9826;</p></div>
              </div>
              <div class="quest">
                <div class="QuestDiv"><p class="ValueQuest">&#9831;</p></div>
              </div>
            </div>
            <div class="StatsWrapper">
              <div class="stats">
                <div class="Titlestats">EMPIRIA</div>
                <div class="QuestDivStyle">
                  <p class="ValueStyle"><%=user.style%></p>
                </div>
                <div class="QuestDivCreativity">
                  <p class="ValueCreativity"><%=user.creativity%></p>
                </div>
                <div class="QuestDivIntelligence">
                  <p class="ValueIntelligence"><%=user.Intelligence%></p>
                </div>
                <div class="QuestDivCondition">
                  <p class="ValueCondition"><%=user.Condition%></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="CharacterSection">
          <!-- Socks -->
          <img
            width="100%"
            class="imgPrincess"
            src="../../../images/character/clothes/sock/<%=user.socks%>"
            style="z-index: 2"
          />
          <!-- Glasses -->
          <img
            width="100%"
            class="imgPrincess"
            src="../../../images/character/clothes/glasses/<%=user.glasses%>"
            style="z-index: 7"
          />
          <!-- Costume -->
          <img
            width="100%"
            class="imgPrincess"
            src="../../../images/character/clothes/head/<%=user.head%>"
            style="z-index: 6"
          />
          <!-- Head -->
          <img
            width="100%"
            class="imgPrincess"
            src="../../../images/character/clothes/middle/<%=user.middle%>"
            style="z-index: 4"
          />
          <!-- Middle -->
          <img
            width="100%"
            class="imgPrincess"
            src="../../../images/character/clothes/bottom/<%=user.bottom%>"
            style="z-index: 5"
          />
          <!-- Bottom -->
          <img
            width="100%"
            class="imgPrincess"
            src="../../../images/character/clothes/shoes/<%=user.shoes%>"
            style="z-index: 3"
          />
          <!-- Shoes -->
          <!-- Detail -->
          <img
            width="100%"
            class="imgPrincess"
            src="../../../images/character/hair/<%=user.hairColor%>.png"
            style="z-index: 2"
          />
          <!-- Hair -->
          <img
            width="100%"
            class="imgPrincess"
            src="../../../images/character/eyes/<%=user.eyeColor%>.gif"
            style="z-index: 1"
          />
          <!-- Eyes -->
          <img
            width="100%"
            class="imgPrincess"
            src="../../../images/character/skin/<%=user.skinColor%>.png"
            style="z-index: 0"
          />
          <!-- Skin -->
          <img width="100%" src="../../../images/character/background.png" />
        </div>
        <div class="DP-money">
          <div class="LevelDivMoney">
            <p class="Value-money">&#9910;</p>
            <div class="dpMoney"><%=user.dpMoney%> DP</div>
          </div>
        </div>
        <div class="NavbarGame">
          <div class="btn btn-white btn-lg">
            <a href="/homepage/clothes"> GARDEROBA </a>
          </div>
          <div class="btn btn-white btn-lg">
            <a href="/homepage/edit-costume"> EDYTUJ PRINCESS </a>
          </div>
          <div class="btn btn-white btn-lg">
            <a href="/homepage/city"> MIASTO </a>
          </div>
          <br /><br /><br />
          <div class="btn btn-white btn-lg">
            <a href="/homepage/ranking"> RANKING </a>
          </div>
        </div>
      </div>
    </div>
    <script language="javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>
