<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>RANKING | DreamPrincess</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/styleRanking.css" />
  </head>

  <body>
    <% include ../partials/nav %> <% include ../partials/navPrincess %> <% var
    n=1; %>
    <div class="wapperStyled">
      <div class="wrapperProfile">
        <h1>RANKING BOHATEREK</h1>
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
        <hr />
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Princess</th>
              <th scope="col"><a href="/homepage/ranking/style">Styl</a></th>
              <th scope="col"><a href="/homepage/ranking/creativity">Kreatywność</a></th>
              <th scope="col"><a href="/homepage/ranking/intelligence">Inteligencja</a></th>
              <th scope="col"><a href="/homepage/ranking/condition">Kondycja</a></th>
             <!--<th scope="col"><a href="/homepage/ranking">Łącznie</a></th>--> 
            </tr>
          </thead>
          <tbody>
            <% data.forEach(function(data, i, arr){ -%>
            <tr <% if (n==1){ %> style="background-color: #573d99" <% } if (data.id == user.id) { %> style="background-color: gray;" <% } %> >
              <%data %>
              <th scope="row"><%=n%></th>
              <td><%=data.namePrincess %></td>
              <td><%=data.style %></td>
              <td><%=data.creativity %></td>
              <td><%=data.Intelligence %></td>
              <td><%=data.Condition %></td>
              <!--<td><%=data.Condition+data.Intelligence+data.creativity+data.style %></td>--> 
            </tr>
            <% n=n+1 %> <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <script language="javascript " src="js/bootstrap.min.js "></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js "
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
      crossorigin="anonymous "
    ></script>
  </body>
</html>
