<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>ZAPLECZE: <%=clothe.name %> | DreamPrincess</title>
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/styleShowClothe.css" />
  </head>

  <body>
    <% include ../partials/nav %> <% include ../partials/navPrincess %>
    <div class="wapperStyled">
      <div class="wrapperProfileClotheSection">
        <button
          class="btn btn-white button-up"
          style="width:80px; padding: 10px"
        >
          <a href="http://localhost:3000/admin/clothes">Powrót</a>
        </button>
        <h1>INFO</h1>
        <hr />
        <ul>
          <li>
            <h5><%=clothe.name %></h5>
            <img
              src="../<%=clothe.imageUrlMin %>"
              style="margin-left: 13px;width: 90%;height: auto; margin-top: -20px;"
            />
            <h5 style="margin-top: -10px; font-size: 11px;">
              Typ: <%=clothe.type %><br />
              <hr />
              Styl: +<%=clothe.style %> <br />
              Kreatywność: +<%=clothe.creativity %> <br />
              Inteligencja: +<%=clothe.Intelligence %> <br />
              Kondycja: +<%=clothe.Condition %> <br />
            </h5>
          </li>
        </ul>
      </div>
    </div>
    <script language=" javascript " src="js/bootstrap.min.js "></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js "
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
      crossorigin="anonymous "
    ></script>
  </body>
</html>
