<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>SETTINGS | DreamPrincess</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/styleSetting.css" />
  </head>

  <body>
    <% include ../partials/nav %> <% include ../partials/navPrincess %>
    <div class="wapperStyled">
      <div class="wrapperProfile">
        <div class="rowstyledleft">
          <br />
          <h1>TWÓJ PROFIL</h1>
          <h5>
            LOGIN: <br />
            <strong> <%=user.username%></strong>
          </h5>
          <h5>
            E-MAIL: <br />
            <strong> <%=user.email%></strong>
          </h5>
          <hr />
          <h1>TWOJA PRINCESS</h1>
          <h5>
            PRINCESS NAME: <br />
            <strong> <%=user.namePrincess %></strong>
          </h5>
        </div>
        <div class="rowstyledright">
          <br />
          <h1 style="color: #fff">EDYCJA KONTA</h1>
          <button class="btn btn-white email" type="submit" value="Submit">
            <a href="/change-email" style="color:#fff; text-decoration: none;">
              ZMIEŃ E-MAIL</a
            >
          </button>
          <br />
          <button class="btn btn-white delete" type="submit" value="Submit">
            <a
              href="/delete-account"
              style="color:#fff; text-decoration: none;"
            >
              USUŃ KONTO</a
            >
          </button>
        </div>
      </div>
    </div>
    <script language="javascript " src="js/bootstrap.min.js "></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js "
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
      crossorigin="anonymous "
    ></script>
  </body>
</html>
