<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="iorisu" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>WARDROBE | DreamPrincess</title>
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="../../stylesheets/styleNavbar.css" />
    <link rel="stylesheet" href="../../stylesheets/stylewardrobe.css" />
  </head>

  <body>
    <% include ../partials/nav %> <% include ../partials/navPrincess %>
    <div class="wapperStyled">
      <div class="wrapperProfile">
        <div class="wardrobe">
          <button class="btn btn-upper-admin back">
            <a href="/homepage" style="color:#8b73bd"> WRÓĆ </a>
          </button>
          <button class="btn btn-white btn-other accessories">
            <a href="/homepage/clothes/head" style="color:#8b73bd"> DODATKI </a>
          </button>
          <button class="btn btn-white btn-other middle">
            <a href="/homepage/clothes/middle" style="color:#8b73bd">
              BLUZKI
            </a>
          </button>
          <button class="btn btn-white btn-other socks">
            <a href="/homepage/clothes/socks" style="color:#8b73bd">
              SKARPETY
            </a>
          </button>
          <button class="btn btn-white btn-other bottom">
            <a href="/homepage/clothes/bottom" style="color:#8b73bd">
              SPÓDNICE
            </a>
          </button>
          <button class="btn btn-white btn-other glasses">
            <a href="/homepage/clothes/glasses" style="color:#8b73bd">
              OKULARY
            </a>
          </button>
          <button class="btn btn-white btn-other shoes">
            <a href="/homepage/clothes/shoes" style="color:#8b73bd"> BUTY </a>
          </button>
        </div>
      </div>
    </div>
    <script language="javascript " src="js/bootstrap.min.js "></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
