body {
  background-color: #fac6e1;
  background-image: url("../images/website/bg-site.png");
}

.wapperStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.wrapperCity {
  margin-top: 10px;
  width: 620px; /*rozmiar z tego pliku js'a*/
  height: auto; /*rozmiar z tego pliku js'a*/
  background-color: #7231c3;
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 20px;
}
.Title {
  text-align: center;
  font-size: 40px;
  color: #fac6e1;
  font-family: "Segoe UI" !important;
}
.SubTitle {
  text-align: center;
  font-size: 14px;
  color: #fac6e1;
  font-family: "Segoe UI" !important;
  margin-bottom: 15px;
}

.button-up a {
  color: #573d99;
}

.button-up a:hover {
  color: #fac6e1;
  text-decoration: none;
}

.buy {
  width: 100%;
  height: auto;
  background-color: #573d99;
  border-radius: 20px;
}

.titleBuy {
  padding-top: 30px;
  font-size: 20px;
}

.BuyColLeft {
  padding: 0px 10px 30px 50px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.BuyCol {
  padding: 0px 50px 30px 10px;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.buybtn {
  width: 150px;
  font-size: 15px;
  padding: 10px 0;
}

.bought {
  width: 150px;
  font-size: 15px;
  padding: 10px 0;
  background-color: #7231c3;
  color: #573d99;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.bought-pink {
  width: 150px;
  font-size: 15px;
  padding: 10px 0;
  background-color: #fac6e1;
  color: #573d99;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
