body {
  background-color: #fac6e1;
  background-image: url("../images/website/bg-site.png");
}

.wapperStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.wrapperCity {
  margin-top: 10px;
  width: 1250px; /*rozmiar z tego pliku js'a*/
  height: 800px; /*rozmiar z tego pliku js'a*/
  background-color: #7231c3;
  border-radius: 8px;
}
.Title {
  margin-top: 24px;
  text-align: center;
  font-size: 40px;
  color: #fac6e1;
  font-family: "Segoe UI" !important;
}
.SubTitle {
  text-align: center;
  font-size: 14px;
  color: #fac6e1;
  font-family: "Segoe UI" !important;
  margin-bottom: 15px;
}
.DescriptionLeft {
  margin-top: 160px;
  width: 250px;
  height: 500px;
  float: left;
  padding: 15px;

  font-size: 13px;
  text-align: right;
  color: #fff !important;
  font-weight: bold;
  line-height: 1.5;
}
.DescriptionRight {
  margin-top: 140px;
  width: 250px;
  height: 500px;
  float: left;
  padding: 15px;

  font-size: 13px;
  text-align: left;
  color: #fff !important;
  font-weight: bold;
  line-height: 1.5;
}
.Yellow {
  float: left;
  color: #fff27f;
  margin-bottom: 0px;
  line-height: 1.5;
}
.Green {
  float: left;
  color: #90ee90;
  margin-bottom: 0px;
  line-height: 1.5;
}
.Pink {
  float: left;
  color: pink;
  margin-bottom: 0px;
  line-height: 1.5;
}
.Blue {
  float: left;
  color: blue;
  margin-bottom: 0px;
  line-height: 1.5;
}
.Orange {
  float: left;
  color: orange;
  margin-bottom: 0px;
  line-height: 1.5;
}
.MapCity {
  float: left;
  height: 650px;
  width: 750px;
  background-color: white;
  border-radius: 25%;
  background-image: url("../images/city/city.png");
}
.Spa {
  position: absolute;
  margin-top: 100px;
  margin-left: 80px;
}
.Atm {
  position: absolute;
  margin-top: 423px;
  margin-left: 102px;
}
.ShoppingCenter {
  position: absolute;
  margin-top: 65px;
  margin-left: 428px;
}
.Library {
  position: absolute;
  margin-top: 299px;
  margin-left: 294px;
}
.Hause {
  position: absolute;
  margin-top: 481px;
  margin-left: 559px;
}
.StyledButton {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.Buttons {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #fac6e1;
  font-weight: bold;
  font-size: 20px;

  border-color: #7231c3 transparent;
  border-style: solid;
  border-width: 5px;
}

.Buttons :hover {
  text-decoration: none;
}

.Buttons a {
  color: #7231c3 !important;
}

.Buttons a:hover {
  color: #573d99 !important;
}
