body {
  background-color: #fac6e1;
  background-image: url("../images/website/bg-site.png");
}

.btn-other {
  padding: 10px 20px;
  width: auto;
  text-decoration: none;
}

.btn-other a {
  text-decoration: none;
}

.wapperStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.wrapperProfile {
  padding: 40px 20px 4px 20px;
  margin-top: 10px;
  width: 400px;
  height: auto;
  background-color: #7231c3;
  border-radius: 8px;
  margin-bottom: 30px;
}

.wrapperProfileClotheSection {
  margin-top: 10px;
  width: auto;
  height: auto;
  background-color: #7231c3;
  border-radius: 8px;
  padding: 30px 20px;
}

.wardrobe {
  height: 100%;
  width: 100%;
  background-image: url("http://i63.tinypic.com/9viq8h.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.back {
  position: absolute;
  bottom: 0;
  margin-bottom: 109px;
  margin-left: 755px;
}

.shoes {
  position: absolute;
  bottom: 0;
  margin-bottom: 180px;
  margin-left: 420px;
}

.accessories {
  position: absolute;
  margin-top: 190px;
  margin-left: 250px;
}

.middle {
  position: absolute;
  margin-top: 320px;
  margin-left: 690px;
}

.bottom {
  position: absolute;
  margin-top: 420px;
  margin-left: 580px;
}

ul {
  list-style-type: none;
  margin-left: -40px;
  margin-top: 20px;
}

ul li {
  display: inline-block;
  float: left;
  padding: 5px;
}

li {
  border: 5px solid #573d99;
  border-radius: 10px;
  background-color: #fff;
  width: 250px;
  height: auto;
}

li h5 {
  font-weight: bold;
}

.button-up a {
  color: #fac6e1;
  text-decoration: none;
}

.button-up a:hover {
  text-decoration: none !important;
  color: #fff !important;
}

h1 {
  margin-top: 20px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
