body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #573d99;
}

.styleHeader {
  position: relative;
  z-index: 1;

  background: #fff;
  height: 90px;

  padding: 19px 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 7px 45px -10px rgba(87, 61, 153, 0.7) !important;

  user-select: none;
}
@media (max-width: 991.98px) {
  .styleHeader {
    padding: 10px 15px;
  }
}

@media (max-width: 767.98px) {
  .styleHeader {
    padding: 10px 10px;
  }
}
@media (max-width: 575.98px) {
  .styleHeader {
    padding: 0px 10px;
  }
}

.menuNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-color a {
  text-decoration: none;
  color: #fff;
}

.btn-color a:hover {
  color: #fff;
}

.logo {
  display: none;
  cursor: pointer;

  height: 44px;
}

@media (min-width: 1200px) {
  .logo {
    display: flex;
  }
}

.logoSmall {
  display: none;
  cursor: pointer;

  height: 32px;
}

@media (max-width: 1199.98px) {
  .logoSmall {
    display: flex;
  }
}

@media (max-width: 767.98px) {
  .logoSmall {
    height: 20px;
  }
}
