body {
  background-color: #fac6e1;
  background-image: url("../images/website/bg-site.png");
}

.wapperStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.wrapperProfile {
  margin-top: 10px;
  width: 1124px;
  height: 800px;
  background-color: #7231c3;
  border-radius: 8px;
}
.Level {
  margin: 15px;
  width: 340px;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  display: block;
  overflow: hidden;
  position: relative;
  display: flex;
  mix-blend-mode: undefined;
}

.LevelDiv {
  margin: 15px;
  height: 60px;
  width: 60px;
  background-color: #fac6e1;
  border: 3px solid #573d99;
  border-radius: 50%;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.LevelDivAdmin {
  margin: 15px;
  height: 60px;
  width: 60px;
  background-color: #f0e68c;
  border: 3px solid #573d99;
  border-radius: 50%;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Value {
  margin-top: 12px !important;
  font-size: 35px;
  font-weight: bold;
  color: #573d99;
}

.NameChar {
  width: 140px;
  font-size: 20px;
  font-weight: bold;
  color: #573d99;
  margin-top: -56px;
  margin-left: 82px;
  margin-bottom: 28px;
}

.quest-title {
  font-size: 12px;
  font-weight: bold;
  color: #573d99;
  text-align: right;
  margin-top: -5px;
  margin-bottom: 8px;
}

.mission {
  width: 210px;
  height: 210px;
  margin-left: 7px;
}

.StatsWrapper {
  margin-top: -310px;
  margin-left: 225px;
}

.quest {
  width: 210x;
  height: 70px;
  margin-bottom: 5px;
  background-color: #dcdcdc;
  border-radius: 15px;
  display: block;
  overflow: hidden;
  position: relative;
  display: flex;
  mix-blend-mode: undefined;
}

.QuestDiv {
  margin: 10px;
  height: 50px;
  width: 50px;
  background-color: #dcdcdc;
  border: 3px solid #fff;
  border-radius: 15px;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ValueQuest {
  margin-top: 12px !important;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}

.Subject {
  width: 127px;
  font-size: 12px;
  font-weight: bold;
  color: #573d99;
  margin-top: -54px;
  margin-left: 71px;
  margin-bottom: 28px;
}

.stats {
  margin-left: 10px;
  margin-top: 11px;
  width: 100px;
  height: 335px;
  margin-bottom: 5px;
  background-color: #8c4ee2;
  border-radius: 35px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Titlestats {
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.QuestDivStyle {
  margin-top: 14px;
  height: 60px;
  width: 60px;
  background-color: #ff78f1;
  border: 3px solid #573d99;
  border-radius: 15px;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ValueStyle {
  margin-top: 11px !important;
  font-size: 35px;
  font-weight: bold;
  color: #573d99;
}

.QuestDivCreativity {
  margin-top: 8px;
  height: 60px;
  width: 60px;
  background-color: #fff178;
  border: 3px solid #573d99;
  border-radius: 15px;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ValueCreativity {
  margin-top: 11px !important;
  font-size: 35px;
  font-weight: bold;
  color: #573d99;
}

.QuestDivIntelligence {
  margin-top: 8px;
  height: 60px;
  width: 60px;
  background-color: #6772ff;
  border: 3px solid #573d99;
  border-radius: 15px;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ValueIntelligence {
  margin-top: 11px !important;
  font-size: 35px;
  font-weight: bold;
  color: #573d99;
}

.QuestDivCondition {
  margin-top: 8px;
  height: 60px;
  width: 60px;
  background-color: #8bdf87;
  border: 3px solid #573d99;
  border-radius: 15px;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ValueCondition {
  margin-top: 11px !important;
  font-size: 35px;
  font-weight: bold;
  color: #573d99;
}

.CharacterSection {
  margin-top: -367px;
  margin-left: 370px;
  width: 515px;
  height: 771px;
  background-color: #573d99;
  border-radius: 40px;
  display: block;
  overflow: hidden;
  position: relative;
  display: flex;
  mix-blend-mode: undefined;

  background-repeat: no-repeat;
}

.NavbarGame {
  bottom: 0;
  margin-bottom: 50px;
  margin-left: 910px;
  position: absolute;
  width: 250px;
}

.btn-white {
  width: 190px;
  padding: 12px;
  margin-bottom: 20px;
}

.btn-white:hover {
  color: #573d99;
  text-decoration: none;
}

.btn-white a {
  color: #8b73bd;
  text-decoration: none;
}

.DP-money {
  margin-top: -771px;
  margin-left: 899px;
  width: auto;
  height: 89px;

  border-radius: 40px;
  display: block;
  overflow: hidden;
  position: relative;
  display: flex;
  mix-blend-mode: undefined;

  background-repeat: no-repeat;
}

.dpMoney {
  width: 140px;
  font-size: 33px;
  font-weight: bold;
  color: #fff;
  margin-top: -57px;
  margin-left: 172px;
  margin-bottom: 28px;
}

.Value-money {
  margin-top: 20px !important;
  font-size: 38px;
  font-weight: bold;
  color: #fff;
}

.LevelDivMoney {
  margin: 15px;
  height: 60px;
  width: 60px;
  border: 3px solid #fff;
  border-radius: 50%;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #85c07f;
}
