body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #573d99;
}

.styleHeader {
  position: relative;
  z-index: 1;

  background: #fff;
  height: 90px;

  padding: 19px 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 7px 45px -10px rgba(87, 61, 153, 0.7) !important;

  user-select: none;
}
@media (max-width: 991.98px) {
  .styleHeader {
    padding: 10px 15px;
  }
}

@media (max-width: 767.98px) {
  .styleHeader {
    padding: 10px 10px;
  }
}
@media (max-width: 575.98px) {
  .styleHeader {
    padding: 0px 10px;
  }
}

.menuNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: none;
  cursor: pointer;

  height: 44px;
}

@media (min-width: 1200px) {
  .logo {
    display: flex;
  }
}

.logoSmall {
  display: none;
  cursor: pointer;

  height: 32px;
}

@media (max-width: 1199.98px) {
  .logoSmall {
    display: flex;
  }
}

@media (max-width: 767.98px) {
  .logoSmall {
    height: 20px;
  }
}

.styledSectionOne {
  padding: 0;
  cursor: pointer;
  height: 792px;
  width: 100%;
  background-image: url("../images/index/bg-header.png");
  display: block;
  overflow: hidden;
  position: relative;
  background-position: right;
  background-color: #573d99;
  display: flex;
  mix-blend-mode: undefined;
}

@media (max-width: 1759px) {
  .styledSectionOne {
    background-size: cover;
    height: 690px;
  }
}
@media (max-width: 1468px) {
  .styledSectionOne {
    height: 530px;
  }
}
@media (max-width: 1182px) {
  .styledSectionOne {
    height: 420px;
  }
}
@media (max-width: 915px) {
  .styledSectionOne {
    height: 330px;
  }
}
@media (max-width: 607px) {
  .styledSectionOne {
    background-position: right;
    height: 280px;
  }
}
@media (max-width: 416px) {
  .styledSectionOne {
    height: 240px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.title {
  cursor: pointer;
  background-image: url("../images/index/border-header.png");
  background-size: cover;
  width: 734px;
  height: 570px;
  position: absolute;
  top: 222px;
  left: 250px;
}

@media (max-width: 1759px) {
  .title {
    width: 630px;
    height: 470px;
    left: 180px;
  }
}
@media (max-width: 1468px) {
  .title {
    width: 500px;
    height: 370px;
    top: 160px;
    left: 180px;
  }
}
@media (max-width: 1182px) {
  .title {
    width: 400px;
    height: 321px;
    top: 120px;
    left: 130px;
  }
}
@media (max-width: 915px) {
  .title {
    position: relative;
    background-image: url("../images/index/border-header-mini.png");
    width: 400px;
    height: 185px;
    left: 0px;
    top: 80px;
  }
}
@media (max-width: 607px) {
  .title {
    width: 350px;
    height: 162px;
    top: 55px;
  }
}
@media (max-width: 416px) {
  .title {
    width: 320px;
    height: 148px;
    top: 49px;
  }
}

.text {
  padding-top: 62px;
  padding-right: 92px;
}

@media (max-width: 1759px) {
  .text {
    padding-top: 57px;
  }
}
@media (max-width: 1468px) {
  .text {
    padding-top: 40px;
    padding-right: 65px;
  }
}
@media (max-width: 1182px) {
  .text {
    padding-top: 36px;
    padding-right: 35px;
  }
}
@media (max-width: 915px) {
  .text {
    padding-top: 36px;
    padding-right: 28px;
  }
}
@media (max-width: 607px) {
  .text {
    padding-top: 30px;
    padding-right: 28px;
  }
}
@media (max-width: 416px) {
  .text {
    padding-top: 27px;
    padding-right: 26px;
  }
}

.small {
  font-size: 61px;
  text-align: right;
  color: #573d99;
  font-family: "Segoe UI" !important;
}

@media (max-width: 1759px) {
  .small {
    font-size: 50px;
  }
}
@media (max-width: 1468px) {
  .small {
    font-size: 41.5px;
  }
}
@media (max-width: 1182px) {
  .small {
    font-size: 35px;
  }
}
@media (max-width: 915px) {
  .small {
    font-size: 36px;
  }
}
@media (max-width: 607px) {
  .small {
    font-size: 31px;
  }
}
@media (max-width: 416px) {
  .small {
    font-size: 28px;
  }
}

.big {
  padding-top: 3px;
  font-size: 77px;
  text-align: right;
  font-weight: bold;
  color: #573d99;
  font-family: "Segoe UI" !important;
}

@media (max-width: 1759px) {
  .big {
    font-size: 69px;
  }
}
@media (max-width: 1468px) {
  .big {
    font-size: 62px;
  }
}
@media (max-width: 1182px) {
  .big {
    font-size: 45px;
  }
}
@media (max-width: 915px) {
  .big {
    font-size: 44px;
  }
}
@media (max-width: 607px) {
  .big {
    font-size: 41px;
  }
}
@media (max-width: 416px) {
  .big {
    font-size: 38px;
  }
}

.styledSectionTwo {
  height: 707px;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #573d99;
  display: flex;
  mix-blend-mode: undefined;
}
@media (max-width: 1495px) {
  .styledSectionTwo {
    height: 520px;
  }
}
@media (max-width: 977px) {
  .styledSectionTwo {
    height: 455px;
  }
}
@media (max-width: 601px) {
  .styledSectionTwo {
    height: 420px;
  }
}

.wrapperTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleTwo {
  position: absolute;
  right: 0px;
  top: 80px;
  width: 1022px;
  height: 551px;
  background-image: url("../images/index/section-one.png");
  background-size: cover;
}
@media (max-width: 1495px) {
  .titleTwo {
    width: 800px;
    height: 370px;
  }
}
@media (max-width: 977px) {
  .titleTwo {
    width: 500px;
    height: 300px;
  }
}
@media (max-width: 601px) {
  .titleTwo {
    width: 280px;
    height: 270px;
  }
}

.textTwo {
  margin-top: 35px;
  margin-left: 265px;
}
@media (max-width: 1495px) {
  .textTwo {
    margin-top: 28px;
    margin-left: 186px;
  }
}
@media (max-width: 977px) {
  .textTwo {
    margin-top: 23px;
    margin-left: 148px;
  }
}
@media (max-width: 601px) {
  .textTwo {
    margin-top: 17px;
    margin-left: 131px;
  }
}

.smallTwo {
  font-size: 30px;
  color: #fac6e1;
  font-family: "Segoe UI" !important;
}
@media (max-width: 1495px) {
  .smallTwo {
    font-size: 22px;
    margin-top: -7px;
  }
}
@media (max-width: 977px) {
  .smallTwo {
    font-size: 19px;
    margin-top: -7px;
  }
}
@media (max-width: 601px) {
  .smallTwo {
    font-size: 18px;
    margin-top: -7px;
  }
}

.bigTwo {
  font-size: 32px;
  font-weight: bold;
  color: #fac6e1;
  font-family: "Segoe UI" !important;
}
@media (max-width: 1495px) {
  .bigTwo {
    font-size: 27px;
    margin-top: -7px;
  }
}
@media (max-width: 977px) {
  .bigTwo {
    font-size: 23px;
    margin-top: -7px;
  }
}
@media (max-width: 601px) {
  .bigTwo {
    font-size: 22px;
    margin-top: -7px;
  }
}

.textTwoBottom {
  margin-top: 35px;
  margin-right: 805px;
}
@media (max-width: 1495px) {
  .textTwoBottom {
    margin-top: 25px;
    margin-right: 661px;
  }
}
@media (max-width: 977px) {
  .textTwoBottom {
    margin-top: 20px;
    margin-right: 385px;
  }
}
@media (max-width: 601px) {
  .textTwoBottom {
    margin-top: 17px;
    margin-right: 174px;
  }
}

.smallTwoBottom {
  font-size: 30px;
  text-align: right;
  color: #fac6e1;
  font-family: "Segoe UI" !important;
}
@media (max-width: 1495px) {
  .smallTwoBottom {
    font-size: 23px;
    margin-top: -7px;
  }
}
@media (max-width: 977px) {
  .smallTwoBottom {
    font-size: 19px;
    margin-top: -7px;
  }
}
@media (max-width: 601px) {
  .smallTwoBottom {
    font-size: 18px;
    margin-top: -7px;
  }
}

.bigTwoBottom {
  font-size: 32px;
  text-align: right;
  font-weight: bold;
  color: #fac6e1;
  font-family: "Segoe UI" !important;
}
@media (max-width: 1495px) {
  .bigTwoBottom {
    font-size: 27px;
    margin-top: -7px;
  }
}
@media (max-width: 977px) {
  .bigTwoBottom {
    font-size: 23px;
    margin-top: -7px;
  }
}
@media (max-width: 601px) {
  .bigTwoBottom {
    font-size: 22px;
    margin-top: -7px;
  }
}

.styledSectionThree {
  height: 707px;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  display: flex;
  mix-blend-mode: undefined;
}
@media (max-width: 977px) {
  .styledSectionThree {
    height: 530px;
  }
}
@media (max-width: 570px) {
  .styledSectionThree {
    height: 450px;
  }
}

.wrapperThree {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.titleThree {
  margin-top: 110px;
  height: 299px;
  width: 196px;
  background-image: url("../images/index/section-two.png");
  background-size: cover;
}
@media (max-width: 977px) {
  .titleThree {
    margin-top: 80px;
    height: 230px;
    width: 150px;
  }
}
@media (max-width: 570px) {
  .titleThree {
    margin-top: 80px;
    height: 180px;
    width: 118px;
  }
}

.smallThree {
  margin-top: 40px;
  font-size: 30px;
  color: #573d99;
  font-family: "Segoe UI" !important;
}
@media (max-width: 977px) {
  .smallThree {
    text-align: center;
    margin-top: 30px;
    font-size: 26px;
  }
}
@media (max-width: 570px) {
  .smallThree {
    text-align: center;
    font-size: 22px;
  }
}

.buttonThree {
  margin-top: 40px;
  width: 300px;
}
@media (max-width: 977px) {
  .buttonThree {
    margin-top: 30px;
  }
}
@media (max-width: 991.98px) {
  .buttonThree {
    padding: 10px 25px !important;
    margin-left: 10px;
  }
}
@media (max-width: 570px) {
  .buttonThree {
    width: 200px;
    padding: 5px 10px !important;
  }
}

.styledSectionFour {
  height: 310px;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #573d99;
  display: flex;
  mix-blend-mode: undefined;
}
@media (max-width: 570px) {
  .styledSectionFour {
    height: 480px;
  }
}

.wrapperFour {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.footerBottom {
  margin-top: 45px;
  width: 490px;
}
@media (max-width: 570px) {
  .footerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
  }
}

.faficon {
  float: left;
  height: 145px;
  width: 145px;
  background-image: url("../images/index/faficon.png");
  background-size: cover;
}

@media (max-width: 570px) {
  .faficon {
    float: none;
    height: 80px;
    width: 80px;
  }
}

.copyright {
  width: 273px;
  height: 21px;
  margin-top: 50px;
  background-image: url("../images/index/copyright.png");
  background-size: cover;
}
@media (max-width: 570px) {
  .copyright {
    height: 16px;
    width: 208px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.menuSection {
  margin-top: 4px;
  margin-right: 40px;
  width: 100px;
  float: left;
}
@media (max-width: 570px) {
  .menuSection {
    float: none;
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

.menuTitle {
  color: #fff;
  font-weight: bold;
  text-align: left;
  font-size: 20px;
}

.styledLink {
  color: #fff !important;
  text-align: bold;
  font-size: 18px;
  line-height: 1.5;
}

.styledLink:hover {
  color: #fff !important;
}

.menuSocial {
  float: left;
  margin-left: 40px;
}
@media (max-width: 570px) {
  .menuSocial {
    float: none;
    margin-top: 30px;
    margin-left: 0px;
  }
}

.iconsWrapper {
  display: flex;
  margin-top: 15px;
}

.icon {
  cursor: pointer;
  margin: 0 5px;
}
.icon:hover {
  color: #fac6e1;
}

.buttonThree a {
  color: #fff;
  text-decoration: none;
}
