body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #573d99;
}

.wrapper {
  height: 100vh;
  text-align: center;
  background-image: url("../images/bg-form.png");
  z-index: 1;
}

.top {
  height: 270px;
}

.formStyled {
  margin-top: 280px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 300px;
  background-color: #fff;
}

.btn {
  margin-top: 5px;
  width: 200px;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.formStyled p {
  font-size: 14px;
  color: #fff;
  color: #6f2cc1;
  font-weight: bold;
}

.Titleh4 {
  margin-top: 22px;
  margin-bottom: 10px;
  font-size: 16px !important;
  color: #573d99 !important;
  font-weight: bold;
}

.TitleStyled {
  padding: 20px 20px 0px 20px;
  font-size: 28px !important;
  color: #573d99 !important;
}

.form-group {
  font-size: 14px !important;
  text-align: center;

  color: #fac6e1 !important;
  font-weight: bold;
}

input {
  width: 200px !important;
  padding: 15px 31px;
  color: #6f2cc1 !important;
  margin-left: auto;
  margin-right: auto;
}

input :hover {
  color: #6f2cc1 !important;
}

input :active {
  color: #6f2cc1 !important;
}

.styleHeader {
  position: fixed;
  z-index: 999;

  background: transparent;
  height: 90px;

  padding: 19px 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991.98px) {
  .styleHeader {
    padding: 10px 15px;
  }
}

@media (max-width: 767.98px) {
  .styleHeader {
    padding: 10px 10px;
  }
}
@media (max-width: 575.98px) {
  .styleHeader {
    padding: 0px 10px;
  }
}

.menuNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.logo {
  display: none;
  cursor: pointer;

  height: 44px;
}

@media (min-width: 1200px) {
  .logo {
    display: flex;
  }
}

.logoSmall {
  display: none;
  cursor: pointer;

  height: 32px;
}

@media (max-width: 1199.98px) {
  .logoSmall {
    display: flex;
  }
}

@media (max-width: 767.98px) {
  .logoSmall {
    height: 20px;
  }
}
