body {
  background-color: #fac6e1;
  background-image: url("../images/website/bg-site.png");
}

.wapperStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.wrapperProfile {
  margin-top: 40px;
  width: 845px;
  height: 800px;
  background-color: #7231c3;
  border-radius: 8px;
}

.CharacterSection {
  margin-top: 5px;
  margin-left: 5px;
  width: 527px;
  height: 790px;

  border-radius: 40px;
  display: block;
  overflow: hidden;
  position: relative;
  display: flex;
  mix-blend-mode: undefined;

  background-repeat: no-repeat;
}

.NavbarGame {
  text-align: center;
  border-radius: 20px;
  bottom: 0;
  margin-bottom: 50px;
  margin-left: 260px;
  position: absolute;
  width: 300px;
  background-color: #fff;
  height: 777px;
}

.btn-white {
  margin-top: 15px;
  width: 190px;
  padding: 12px;
  margin-bottom: 20px;
}

.btn-white:hover {
  color: #573d99;
  text-decoration: none;
}

.btn-white a {
  color: #8b73bd;
  text-decoration: none;
}

.title {
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  color: #6f2cc1;
}

.titledescdiv {
  padding: 10px 20px;
  color: #8b73bd;
}

.titledescription {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5;
}

.formcenter {
  padding: 0 15px;
}

.smalla {
  font-size: 11px;
  font-weight: bold;
}

.form-group label {
  color: #573d99;
  font-weight: bold;
}

.form-group select {
  color: #6f2cc1;
}

.form-group select:hover {
  color: #6f2cc1;
}

.form-group select:active {
  color: #6f2cc1;
}

margin-left: 266px;
