body {
  background-color: #fac6e1;
  background-image: url("../images/website/bg-site.png");
}

.btn-other {
  padding: 10px 20px;
  width: auto;
  text-decoration: none;
}

.btn-other a {
  text-decoration: none;
}

.wapperStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.wrapperProfile {
  margin-top: 10px;
  width: 950px;
  height: 800px;
  background-color: #7231c3;
  border-radius: 8px;
}

.wrapperProfileClothe {
  margin-top: 10px;
  width: 860px;
  height: 800px;
  background-color: #7231c3;
  border-radius: 8px;
}

.wrapperProfileClotheSection {
  margin-top: 10px;
  width: 860px;
  height: auto;
  background-color: #7231c3;
  border-radius: 8px;
  padding-bottom: 44px;
}

.wardrobe {
  height: 100%;
  width: 100%;
  background-image: url("http://i63.tinypic.com/9viq8h.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.back {
  position: relative;
  margin-top: -402px;
}

.shoes {
  position: relative;
  margin-top: 588px;
  margin-left: 494px;
}

.accessories {
  position: relative;
  margin-top: -215px;
}

.middle {
  position: relative;
}

.bottom {
  position: relative;
  margin-top: 118px;
}

.socks {
  position: relative;
  margin-top: 356px;
}

.glasses {
  position: relative;
  margin-top: 294px;
  margin-left: -544px;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  float: left;
  margin: 5px;
  padding: 5px;
}

li {
  border: 5px solid #573d99;
  border-radius: 10px;
  background-color: #fff;
  width: 250px;
  height: 308px;
}

li h5 {
  font-weight: bold;
}
