body {
  background-color: #fac6e1;
  background-image: url("../images/website/bg-site.png");
}

.wapperStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.wrapperProfile {
  margin-top: 10px;
  width: 850px;
  height: auto;
  background-color: #7231c3;
  border-radius: 8px;
}

.rowstyledleft {
  flex: 1;
  background-color: #fff;
  margin: 15px 7px 15px 15px;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.rowstyledright {
  flex: 1;
  background-color: ;
  margin: 15px 15px 15px 7px;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

hr {
  border-top: 1px solid #7231c3;
}

.email {
  width: 200px;
  margin-top: 15px;
  padding: 12px 0px 12px 0px;
}

.delete {
  width: 200px;
  margin-top: 115px;
  padding: 12px 0px 12px 0px;
}

h1 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

h5 {
  line-height: 1.5;
  font-size: 14px;
}

.full-width {
  margin-top: 10px;
  position: relative;
  padding: 20px;
  margin-bottom: -15px;
}

.div-row-2 {
  display: flex;
}

.purple {
  color: white;
}

.line-purple {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 1px;
  background-color: #7231c3;
}

.line-white {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.mini-a a {
  font-size: 13px;
  font-weight: bold;
  color: #fff !important;
}

.mini-a {
  margin-top: 63px;
}
