body {
  background-color: #fac6e1;
  background-image: url("../images/website/bg-site.png");
}

.wapperStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.wrapperProfile {
  margin-top: 40px;
  width: auto;
  height: auto;
  background-color: #7231c3;
  border-radius: 8px;
  padding: 7px;
}

.NavbarGame {
  background-image: linear-gradient(#7231c3, white);
  text-align: center;
  border-radius: 20px;
  width: 300px;
  background-color: #fff;
  height: auto;
  padding-bottom: 10px;
}

.btn-click {
  float: left;
  margin-top: 24px;
  width: 40px;
  height: 40px;
  padding: 2px;
}

.btn-click:hover {
  color: #573d99;
  text-decoration: none;
}

.btn-click a {
  color: #8b73bd;
  text-decoration: none;
}

.btn-click2 {
  float: left;
  margin-top: 19px;
  width: 40px;
  height: 40px;
  padding: 2px;
}

.btn-click2:hover {
  color: #573d99;
  text-decoration: none;
}

.btn-click2 a {
  color: #8b73bd;
  text-decoration: none;
}

.left {
  float: left;
}

.btn-white {
  margin-top: 15px;
  width: 190px;
  padding: 12px;
  margin-bottom: 20px;
}

.btn-white:hover {
  color: #573d99;
  text-decoration: none;
}

.btn-white a {
  color: #8b73bd;
  text-decoration: none;
}

.title {
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.titledescdiv {
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.titledescription {
  font-size: 13.5px;
  font-weight: bold;
  line-height: 1.5;
}

.formcenter {
  padding: 0 15px;
}

.smalla {
  font-size: 11px;
  font-weight: bold;
}

.form-group label {
  color: #573d99;
  font-weight: bold;
}

.form-group select {
  color: #6f2cc1;
}

.form-group select:hover {
  color: #6f2cc1;
}

.form-group select:active {
  color: #6f2cc1;
}

.stats {
  width: 270px;
}

.Titlestats {
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.QuestDivStyle {
  float: left;
  margin-right: 10px;
  height: 60px !important;
  width: 60px !important;
  background-color: #ff78f1;
  border: 3px solid #573d99;
  border-radius: 15px;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ValueStyle {
  margin-top: 15px !important;
  font-size: 35px;
  font-weight: bold;
  color: #573d99;
}

.QuestDivCreativity {
  float: left;
  margin-right: 10px;
  height: 60px !important;
  width: 60px !important;
  background-color: #fff178;
  border: 3px solid #573d99;
  border-radius: 15px;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ValueCreativity {
  margin-top: 15px !important;
  font-size: 35px;
  font-weight: bold;
  color: #573d99;
}

.QuestDivIntelligence {
  float: left;
  margin-right: 10px;
  height: 60px !important;
  width: 60px !important;
  background-color: #6772ff;
  border: 3px solid #573d99;
  border-radius: 15px;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ValueIntelligence {
  margin-top: 15px !important;
  font-size: 35px;
  font-weight: bold;
  color: #573d99;
}

.QuestDivCondition {
  float: left;
  height: 60px !important;
  width: 60px !important;
  background-color: #8bdf87;
  border: 3px solid #573d99;
  border-radius: 15px;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ValueCondition {
  margin-top: 15px !important;
  font-size: 35px;
  font-weight: bold;
  color: #573d99;
}

.ArrowTop {
  width: 100px;
  margin-bottom: 15px;
}

.ArrowBottom {
  width: 100px;
  margin-top: 15px;
}

.Description {
  font-size: 13px;
  text-align: right;
  color: #fff !important;
  font-weight: bold;
  font-weight: bold;
  line-height: 1.5;
}

.Pink {
  color: #ff78f1 !important;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5;
}

.Blue {
  color: #6772ff !important;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5;
}

.Yellow {
  color: #fff178 !important;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5;
}

.Green {
  color: #8bdf87 !important;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5;
}

.classdivbottom {
  margin-top: 87px;
}
