body {
  background-color: #fac6e1;
  background-image: url("../images/website/bg-site.png");
}

.wapperStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.wrapperCity {
  margin-top: 10px;
  width: 620px;
  height: auto;
  background-color: #7231c3;
  border-radius: 8px;
  padding: 24px;
}
.Title {
  text-align: center;
  font-size: 40px;
  color: #fac6e1;
  font-family: "Segoe UI" !important;
}
.SubTitle {
  text-align: center;
  font-size: 14px;
  color: #fac6e1;
  font-family: "Segoe UI" !important;
  margin-bottom: 15px;
}

.game-board {
  margin: 30px auto;
  position: relative;
  background: #fac6e1;
  overflow: hidden;
  width: 554px;
  height: 444px;
  border: 2px solid #331e6a;
  border-radius: 20px;
}

.game-tile {
  position: absolute;
  cursor: pointer;
  width: 100px;
  height: 100px;
  background: #fac6e1 url(../../images/memo/memo-0.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.game-tile:hover {
  background-color: #fac6e1;
}

.game-score {
  text-align: center;
  position: fixed;
}

/* -------------------------------------------------- */
button.button,
input[type="button"].button,
input[type="submit"].button {
  width: 255px;
  padding: 0.8em 3em;
  background: #331e6a;
  border: 0;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.5s background-color, 0.5s box-shadow;
  cursor: pointer;
  display: block;
  font-size: 20px;
  margin: 30px auto 0px auto;
}

.button-up a {
  color: #573d99;
}

.button-up a:hover {
  color: #fac6e1;
  text-decoration: none;
}

.imgMoney {
  width: 100%;
  height: auto;
  padding: 10px 50px;
}

.bought-pink {
  width: 250px;
  font-size: 15px;
  padding: 15px 0;
  background-color: #fac6e1;
  color: #573d99;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  text-align: center;
}
