body {
  background-color: #fac6e1;
  background-image: url("../images/website/bg-site.png");
}

.wapperStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.button-up a {
  color: #fac6e1;
  text-decoration: none;
}

.button-up a:hover {
  text-decoration: none !important;
  color: #fff !important;
}

.wrapperProfile {
  padding: 40px 20px 4px 20px;
  margin-top: 10px;
  padding-bottom: 30px;
  width: 500px;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
  border-color: #7231c3;
  border-style: solid;
}

hr {
  border-top: 1px solid #7231c3;
}

h2 {
  text-align: center;
  color: #7231c3;
  font-size: 13px;
  font-weight: bold;
}

h1 {
  color: #7231c3;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

h5 {
  font-size: 10px;
  color: #7231c3;
  font-weight: bold;
  margin-top: -10px;
  margin-left: 252px;
}

.form-group label {
  color: #fff;
  font-weight: bold;
}

.form-group select {
  color: #6f2cc1;
}

.form-group select:hover {
  color: #6f2cc1;
}

.form-group select:active {
  color: #6f2cc1;
}

input,
select {
  background-color: transparent !important;
  color: #fff;
}

.btn-white {
  color: #573d99;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  padding: 3px 3px;
  font-size: 10px;
  font-weight: bold !important;
  cursor: pointer;
}

.btn-wihte:disabled {
  cursor: default;
}

.btn-white:hover {
  color: #fac6e1 !important;
  background-color: #6f2cc1 !important;
  border-color: #6f2cc1 !important;
}

.btn-white:active {
  color: #fac6e1 !important;
  background-color: #6f2cc1 !important;
  border-color: #6f2cc1 !important;
}

h6 {
  font-weight: bold;
}
