body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #573d99;
}

.wrapper {
  height: 100vh;
  text-align: center;
  background-image: url("../images/bg-form.png");
  z-index: 1;
}

.formStyled {
  margin-top: 280px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 312px;
  height: 150px;
  background-color: #fff;
}

.formStyledError {
  margin-top: 150px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 20px;
  height: 500px;
}

.formStyledError h1 {
  font-weight: bold;
  font-size: 200px;
}

.formStyledError h2 {
  font-weight: bold;
  margin-top: -30px;
  font-size: 30px;
}

.pre {
  padding: 20px;
  border-radius: 20px;
  background-image: linear-gradient(transparent, #b1a5cf);
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.formStyledPrincess {
  margin-top: 280px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 390px;
  height: 315px;
  background-color: #fff;
}

.formStyledCostume {
  margin-top: 280px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 180px;
  background-color: #fff;
}

.NameChar {
  font-size: 13px;
  font-weight: bold;
  color: #573d99;
}

.formStyledDelete {
  margin-top: 280px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 312px;
  height: 230px;
  background-color: #fff;
}

.DescriptionStyled {
  margin-top: 20px;
  line-height: 1.5;
  font-weight: bold;
  color: #573d99;
  padding: 0px 20px;
}

.btn {
  margin-top: 5px;
  width: 200px;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.TitleStyled {
  padding: 20px 20px 0px 20px;
  font-size: 28px !important;
  color: #573d99 !important;
}

.form-group {
  font-size: 14px !important;
  text-align: center;

  color: #fac6e1 !important;
  font-weight: bold;
}

.styleHeader {
  position: fixed;
  z-index: 999;

  background: transparent;
  height: 90px;

  padding: 19px 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991.98px) {
  .styleHeader {
    padding: 10px 15px;
  }
}

@media (max-width: 767.98px) {
  .styleHeader {
    padding: 10px 10px;
  }
}
@media (max-width: 575.98px) {
  .styleHeader {
    padding: 0px 10px;
  }
}

.menuNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.logo {
  display: none;
  cursor: pointer;

  height: 44px;
}

@media (min-width: 1200px) {
  .logo {
    display: flex;
  }
}

.logoSmall {
  display: none;
  cursor: pointer;

  height: 32px;
}

@media (max-width: 1199.98px) {
  .logoSmall {
    display: flex;
  }
}

@media (max-width: 767.98px) {
  .logoSmall {
    height: 20px;
  }
}

.btn-small {
  margin-top: 20px;
  width: auto;
  padding: 15px 30px;
}

.Pink {
  color: #ff78f1 !important;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5;
}

.Blue {
  color: #6772ff !important;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5;
}

.Yellow {
  color: #fff178 !important;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5;
}

.Green {
  color: #8bdf87 !important;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5;
}
