body {
  background-color: #fac6e1;
  background-image: url("../images/website/bg-site.png");
}

.wapperStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

a {
  color: #fac6e1;
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
  color: #fac6e1;
}

.wrapperProfile {
  padding: 40px 20px 4px 20px;
  margin-top: 10px;
  width: 850px;
  height: auto;
  background-color: #7231c3;
  border-radius: 8px;
  margin-bottom: 30px;
}

hr {
  border-top: 1px solid #7231c3;
}

.email {
  width: 200px;
  margin-top: 15px;
  padding: 12px 0px 12px 0px;
}

.delete {
  width: 200px;
  margin-top: 115px;
  padding: 12px 0px 12px 0px;
}

h1 {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

h5 {
  font-size: 14px;
  color: #fac6e1;
  font-weight: bold;
}

.full-width {
  margin-top: 10px;
  position: relative;
  padding: 20px;
  margin-bottom: -15px;
}

.div-row-2 {
  display: flex;
}

.purple {
  color: white;
}

.line-purple {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 1px;
  background-color: #7231c3;
}

.line-white {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.mini-a a {
  font-size: 13px;
  font-weight: bold;
  color: #fff !important;
}

.mini-a {
  margin-top: 63px;
}

table td {
  color: white;
  text-align: center;
}

table th {
  color: #fac6e1;
  text-align: center;
}

.cute {
  border-radius: 50% !important;
  padding: 0px 5px;
}

.cute:hover {
  background-color: #7231c3;
}

.top-column {
  margin-top: -11px;
}
