body {
  background-color: #fac6e1;
  background-image: url("../images/website/bg-site.png");
}

.wapperStyled {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.wrapperProfile {
  margin-top: 10px;
  width: 700px;
  height: 320px;
  background-color: #7231c3;
  border-radius: 8px;
  display: flex;
}

.rowstyledleft {
  flex: 1;
  background-color: #fff;
  margin: 15px 7px 15px 15px;
  border-radius: 15px;
}

.rowstyledright {
  flex: 1;
  background-color: ;
  margin: 15px 15px 15px 7px;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.email {
  width: 200px;
  margin-top: 15px;
  padding: 12px 0px 12px 0px;
}

.delete {
  width: 200px;
  margin-top: 115px;
  padding: 12px 0px 12px 0px;
}

h1 {
  color: #573d99;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

h5 {
  line-height: 1.5;
  font-size: 14px;
}

hr {
  border-top: 1px solid #7231c3;
}
